<app-navbar></app-navbar>
<a href="#myHeader" pageScroll [pageScrollDuration]="800">
    <button id="myBtn" title="Go to top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
</a>
<header id="myHeader">
    <div class="container">
        <div class="jumbotron">
            <h2 style="color:#FFFFFF;">Job openings</h2>
            <p style="font-family: Lato,sans-serif; font-size: 18px;">We grow when you grow.</p>
            <div class="row justify-content-center">
                <a href="#contents" pageScroll [pageScrollDuration]="500" [pageScrollOffset]="110">
                    <button i18n class="button">Join Us</button>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="container" id="contents" style="margin-top:4em;">
    <div class="card">
        <div class="card-header">
            <b>Software Engineer 1</b>
        </div>
        <div class="card-body">
            <p class="card-text">Location: Bengaluru, Karnataka </p>
            <p class="card-text">Experience: 0-2 Years </p>
            <p class="card-text"><i class="fa fa-briefcase" aria-hidden="true"></i> Full time</p>
            <div class="float-right">
                <a data-toggle="collapse" href="#job1" role="button" aria-expanded="false" aria-controls="jobDescription">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
            <div class="collapse" id="job1">
                <div style="padding: 1% 0%;">
                    <p class="card-text">Job Description </p>
                    <ul>
                        <li>Worked on HTML,CSS,Jquery,Ajax,Bootstrap,Javascript etc.</li>
                        <li>Design Front end of the website.</li>
                        <li>Convert photoshop layouts(emailers/flyers) into HTML.</li>
                        <li>Quickly learn on the job & implement new ideas.</li>
                        <li>Client Interaction</li>
                        <li>Testing minute details of the webpage, placing of icons & creatives perfectly.</li>
                        <li>Wordpress expertise is required.</li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobModal" (click)="changeModalHeader('Software Engineer 1')"><i class="fa fa-chevron-right"
              aria-hidden="true"></i> Apply Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <b>Software Engineer 2</b>
        </div>
        <div class="card-body">
            <p class="card-text">Location: Bengaluru, Karnataka </p>
            <p class="card-text">Experience: 0-2 Years </p>
            <p class="card-text"><i class="fa fa-briefcase" aria-hidden="true"></i> Full time</p>
            <div class="float-right">
                <a data-toggle="collapse" href="#job2" role="button" aria-expanded="false" aria-controls="jobDescription">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
            <div class="collapse" id="job2">
                <div style="padding: 1% 0%;">
                    <p class="card-text">Job Description </p>
                    <ul>
                        <li>Worked on HTML,CSS,Jquery,Ajax,Bootstrap,Javascript etc.</li>
                        <li>Design Front end of the website.</li>
                        <li>Convert photoshop layouts(emailers/flyers) into HTML.</li>
                        <li>Quickly learn on the job & implement new ideas.</li>
                        <li>Client Interaction</li>
                        <li>Testing minute details of the webpage, placing of icons & creatives perfectly.</li>
                        <li>Wordpress expertise is required.</li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobModal" (click)="changeModalHeader('Software Engineer 2')"><i class="fa fa-chevron-right"
              aria-hidden="true"></i> Apply Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <b>Senior Software Engineer</b>
        </div>
        <div class="card-body">
            <p class="card-text">Location: Bengaluru, Karnataka </p>
            <p class="card-text">Experience: 3-5 Years </p>
            <p class="card-text"><i class="fa fa-briefcase" aria-hidden="true"></i> Full time</p>
            <div class="float-right">
                <a data-toggle="collapse" href="#job3" role="button" aria-expanded="false" aria-controls="jobDescription">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
            </div>
            <div class="collapse" id="job3">
                <div style="padding: 1% 0%;">
                    <p class="card-text">Job Description </p>
                    <ul>
                        <li>Worked on HTML,CSS,Jquery,Ajax,Bootstrap,Javascript etc.</li>
                        <li>Design Front end of the website.</li>
                        <li>Convert photoshop layouts(emailers/flyers) into HTML.</li>
                        <li>Quickly learn on the job & implement new ideas.</li>
                        <li>Client Interaction</li>
                        <li>Testing minute details of the webpage, placing of icons & creatives perfectly.</li>
                        <li>Wordpress expertise is required.</li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobModal" (click)="changeModalHeader('Senior Software Engineer')"><i class="fa fa-chevron-right"
              aria-hidden="true"></i> Apply Now</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="jobModalLabel" aria-hidden="true" #jobModal>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobModalLabel">{{ modalHeader }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form novalidate [formGroup]="userDetails" (ngSubmit)="sendMail(userDetails);">
                        <input type="text" placeholder="Full Name" formControlName="name" autocomplete>
                        <input type="email" placeholder="Email id" formControlName="email" autocomplete>
                        <input type="tel" formControlName="phone" placeholder="Mobile number" autocomplete>
                        <textarea placeholder="Cover letter" id='textarea' formControlName="message"></textarea>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept="application/pdf, .doc, .docx" (change)="onFileChange($event)">
                            <label class="custom-file-label" for="customFile">{{ filename }}</label>
                        </div>
                        <button type="submit" class="button button__primary" [disabled]="userDetails.invalid" style="margin-bottom:0px; margin-top: 2.3rem; float: right;">Send
              message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>