<mm-navbar></mm-navbar><br/><br/><br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="col-1"></div>
            <div class="col-7">
                <h4 style="color: #0275D8;">Send us a message</h4>
                <p>You can contact us with anything related to mesomeds. We'll get in touch with you as soon as possible.</p>
                <form novalidate [formGroup]="message" (ngSubmit)="onSubmit(message)">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="fullName" placeholder="Enter Full Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="emailId" placeholder="Enter Your Email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" formControlName="message" placeholder="Drop your queries.."></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="message.invalid">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="col-4">
            <h4 style="color: #0275D8;">Find Us</h4>
            <p></p>
            <label><i class="fa fa-map-marker" style="font-size:25px;color:#0275D8;"></i></label> &nbsp;&nbsp;No. 11, 2nd Floor, 6th Cross, Sampige Road, Malleshwaram, Bengaluru, Karnataka 560003<br/><br/>
            <label><i class="fa fa-envelope" style="font-size:20px;color:#0275D8;"></i></label>&nbsp;&nbsp;awnics@awnics.com<br/>
            <label><i class="fa fa-phone" style="font-size:20px;color:#0275D8;"></i></label>&nbsp;&nbsp;099160 63542
        </div>
        <div class="col-2"></div>
    </div><br/><br/>
</div>
<div style="width:100%; margin-bottom:0%;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5966367659976!2d77.57037741426318!3d12.997631290838802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae16252f54faf3%3A0x843831e6c996a2db!2sAwnics+Technologies+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1505721024061"
        width="100%" height="450" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
</div>
<mm-footer></mm-footer>