<mm-navbar></mm-navbar>
<div class="container">
  <h1>
    Welcome to payments & billings page
  </h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal" (click)="paymentGatewayCall();">
    Pay now
  </button>

  <!-- Modal -->
  <div class="modal fade" data-keyboard="false" data-backdrop="static" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div [innerHtml]="response | safe:'html'"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>
