<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar">
    <div class="container">
        <a id="logo" routerLink='/' routerLinkActive='active'>Mesomeds</a>
        <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="fa fa-reorder" id="icon-bar"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="my-2 my-lg-0">
                <div class="mr-sm-2 row navbar__menu">
                    <a class="nav-link" routerLink='/registerDoctor' routerLinkActive='active' *ngIf="!loggedIn">For Doctors</a>
                    <a class="nav-link" routerLink="/login" routerLinkActive='active' *ngIf="!loggedIn">Login</a>
                    <div class="dropdown" *ngIf="loggedIn">
                        <a class="inset" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="picUrl">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right bubble" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['/profiles',user.id]">Profile</a>
                            <a class="dropdown-item" [routerLink]="['/dashboards/patients',user.id]" *ngIf="user.role ==='patient'">Dashboard</a>
                            <a class="dropdown-item" [routerLink]="['/dashboards/doctors',user.id]" *ngIf="user.role ==='doctor'">Dashboard</a>
                            <a class="dropdown-item" [routerLink]="['/']" *ngIf="user.role ==='bot'">Dashboard</a>
                            <a class="dropdown-item" [routerLink]="['/consultation',user.id]">Consultation & History</a>
                            <a class="dropdown-item" [routerLink]="['/payment',user.id]">Payment & Billing</a>
                            <a class="dropdown-item" routerLink="/login" routerLinkActive='active' (click)="logout();">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>