:host {
    display: block;
}

nav {
    background-color: transparent;
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    transition: 0.7s;
}

a,
a:link,
a:visited,
a:active {
    color: #fff;
}

#logo {
    font-size: 1.325rem;
    transition: 0.7s;
    color: #fff;
    text-decoration: none;
    font-family: Lato, sans-serif;
}

#logo:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.navbar-light .navbar-toggler {
    border: none;
    outline: none;
}

#icon-bar {
    color: #fff;
}


/* for profile image on navbar */

.inset {
    width: 45px;
    height: 42px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6), 0 1px 1px rgba(0, 0, 0, 0.1);
}

.inset img {
    border-radius: inherit;
    width: 40px;
    height: 40px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: block;
    position: relative;
    transition: 0.5s;
    margin-left: 15px;
}

.dropdown-menu {
    background-color: #FFF;
}

.dropdown-item {
    padding: .25rem 1.5rem;
    color: #111 !important;
}

.dropdown-item:hover {
    background-color: #6960FF;
    color: #FFF !important;
}

.card-body:hover {
    background-color: #6960FF;
    color: #FFF !important;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.navbar__menu .nav-link {
    backface-visibility: hidden;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 15px;
    opacity: 0.75;
}

.navbar__menu .nav-link:hover {
    opacity: 1;
    color: #fff;
}

.navbar__menu .nav-link:after {
    display: block;
    content: '';
    border-bottom: solid 1px #fff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navbar__menu .nav-link:hover:after {
    transform: scaleX(1);
}


/* bubble for dropdown */

.bubble {
    position: absolute;
    margin-top: 7px;
    border: none;
    outline: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
    .dropdown-menu-right {
        left: 0 !important;
        margin-left: 15px;
    }

    .bubble {
        width: 13rem;
    }

    .notification > .dropdown-menu-right {
        width: 22rem;
    }

    .notification-icon {
        left: 5rem !important;
    }
}

.notification-icon {
    position: absolute;
    left: -2rem;
    font-size: 1.5rem;
    color: #F7F7F7 !important;
}

.card-body {
    padding: 0.5rem;
}

.card-title {
    font-size: 1rem;
}

.card-text {
    font-size: 0.8rem;
}