:host {
    display: block;
}

nav {
    background-color: #4696e5;
    color: #d0e4f8;
    background-image: url("./assets/png/overlay.png"), url("./assets/svg/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
}

a,
a:link,
a:visited,
a:active {
    float: right;
    margin: 5px;
    color: #d0e4f8;
    text-decoration: none;
}

a:hover {
    color: #000000;
}