<modal #consultantModal>
    <modal-header [show-close]="true">
        Available doctors:
    </modal-header>
    <modal-body>
        <!--div *ngFor="let doctorDetail of doctorDetails">
            <label>Name: </label> {{doctorDetail.name}}<br/>
            <label>Display picture: </label><img src="{{doctorDetail.picUrl}}" alt="Display pic" style="height: 100px; width: 100px;" /><br/>
            <label>Specialization: </label> {{doctorDetail.breifDescription.speciality}}<br/>
            <label>Experience: </label> {{doctorDetail.breifDescription.experience}} years<br/>
            <label>Description: </label> {{doctorDetail.breifDescription.description}}<br/>
            <label>Status: </label> {{doctorDetail.status}}<br/>
            <label>Expected waiting time: </label> {{doctorDetail.waitingTime}} mins<br/>
            <label>Rating: </label> {{doctorDetail.rating}}<br/>
            <iframe width="400" height="320" src="{{doctorDetail.videoUrl}}" frameborder="1px" allowfullscreen></iframe>
        </div-->
        <div class="row" id="box">
            <div class="card">
                <div class="card-block">
                    <div *ngFor="let doctorDetail of doctorDetails">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="led-box led-green"></div>
                                <img src="assets/jpg/user.jpg" data-toggle="tooltip" title="Online" class="img-circle" style="height: 100px; width: 100px;" alt="Not found" />
                            </div>
                            <div class="col-sm-9">
                                <h3 class="card-title">{{doctorDetail.name}}</h3>
                                <p class="card-text">Doctor is {{doctorDetail.breifDescription.experience}} years experienced in {{doctorDetail.breifDescription.speciality}}. <br/> {{doctorDetail.breifDescription.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" style="float: right;">Details <span class="glyphicon glyphicon-chevron-down"></span></button>
                    <!--div id="demo" class="collapse">
                        <iframe width="400" height="320" src="{{doctorDetail.videoUrl}}" frameborder="1px" allowfullscreen></iframe>
                    </div-->
                </div>
            </div>
        </div>
        <div class="row" id="box">
            <div class="card">
                <div class="card-block">
                    <div *ngFor="let doctorDetail of doctorDetails">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="led-box led-red"></div>
                                <img src="assets/jpg/user.jpg" data-toggle="tooltip" title="Offline" class="img-circle" style="height: 100px; width: 100px;" alt="Not found" />
                            </div>
                            <div class="col-sm-9">
                                <h3 class="card-title">{{doctorDetail.name}}</h3>
                                <p class="card-text">Doctor is {{doctorDetail.breifDescription.experience}} years experienced in {{doctorDetail.breifDescription.speciality}}. <br/> {{doctorDetail.breifDescription.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary" style="float: right;">Details <span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>
            </div>
        </div>
        <div class="row" id="box">
            <div class="card">
                <div class="card-block">
                    <div *ngFor="let doctorDetail of doctorDetails">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="led-box led-yellow"></div>
                                <img src="assets/jpg/user.jpg" data-toggle="tooltip" title="Away" class="img-circle" style="height: 100px; width: 100px;" alt="Not found" />
                            </div>
                            <div class="col-sm-9">
                                <h3 class="card-title">{{doctorDetail.name}}</h3>
                                <p class="card-text">Doctor is {{doctorDetail.breifDescription.experience}} years experienced in {{doctorDetail.breifDescription.speciality}}. <br/> {{doctorDetail.breifDescription.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary" style="float: right;">Details <span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>
            </div>
        </div>
        <div class="row" id="box">
            <div class="card">
                <div class="card-block">
                    <div *ngFor="let doctorDetail of doctorDetails">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="led-box led-blue"></div>
                                <img src="assets/jpg/user.jpg" data-toggle="tooltip" title="Busy" class="img-circle" style="height: 100px; width: 100px;" alt="Not found" />
                            </div>
                            <div class="col-sm-9">
                                <h3 class="card-title">{{doctorDetail.name}}</h3>
                                <p class="card-text">Doctor is {{doctorDetail.breifDescription.experience}} years experienced in {{doctorDetail.breifDescription.speciality}}. <br/> {{doctorDetail.breifDescription.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary" style="float: right;">Details <span class="glyphicon glyphicon-chevron-down"></span></a>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button i18n type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
</modal>