<modal #consultantModal>
    <modal-header [show-close]="true">
        Doctor detials:
    </modal-header>
    <modal-body>
        <div *ngFor="let doctorDetail of doctorDetails">
            <label>Name: </label> {{doctorDetail.name}}<br/>
            <label>Display picture: </label><img src="{{doctorDetail.picUrl}}" alt="Display pic" style="height: 100px; width: 100px;" /><br/>
            <!--label>Specialization: </label> {{doctorDetail.breifDescription.speciality}}</br>
            <label>Experience: </label> {{doctorDetail.breifDescription.experience}}<br/>
            <label>Description: </label> {{doctorDetail.breifDescription.description}}<br/-->
            <label>Status: </label> {{doctorDetail.status}}<br/>
            <label>Expected waiting time: </label> {{doctorDetail.waitingTime}}<br/>
            <label>Rating: </label> {{doctorDetail.rating}}<br/>
            <iframe width="400" height="320" src="{{doctorDetail.videoUrl}}"></iframe>
        </div>
    </modal-body>
    <modal-footer>
        <button i18n type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
</modal>