<modal #modal>
    <form #modalForm="ngForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">Fill in the details below:</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <input type="tel" style="width: 100%;" class="form-control" required [(ngModel)]="tel" name="tel" id="tel" value="{{tel}}" placeholder="Mobile number">
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="validationModal.close()">Request callback</button>
            <p style="text-align: center;"> Or
            </p>
            <div class="form-group">
                <input type="text" style="width: 100%;" class="form-control" [(ngModel)]="fullName" name="fullName" id="fullName" placeholder="Full name">
            </div>
            <div class="form-group">
                <input type="tel" style="width: 100%;" class="form-control" [(ngModel)]="watel" name="watel" id="watel" value="{{tel}}" placeholder="Phone/Whatsapp">
            </div>
            <div class="form-group">
                <input type="email" style="width: 100%;" class="form-control" [(ngModel)]="mail" name="mail" id="mail" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="uFile"> <span class="glyphicon glyphicon-folder-open"></span> Upload prescription:</label>
                <input type="file" style="width: 100%;" class="form-control" multiple [(ngModel)]="uFile" name="uFile" id="uFile" placeholder="Email">
            </div>
            <div class="form-group">
                <label><span class="glyphicon glyphicon-edit"></span> Enter manually:</label>
                <textarea class="form-control" [(ngModel)]="manual" name="manual" rows="5" id="manual"></textarea>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" style="float:left; height:12px; width:12px;" checked required [(ngModel)]="check" name="check" id="check">I agree to <a href="/terms" style="color: #4696e5;" target="_blank">Terms and Conditions</a></label>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="validationModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="validationModal.close()">Submit</button>
        </modal-footer>
    </form>
</modal>