<mm-navbar></mm-navbar><br><br>
<div class="auth">
    <div class="container">
        <div class="auth__inner">
            <div class="auth__media">
                <img src="assets/svg/undraw_selfie.svg">
            </div>
            <div class="auth__auth">
                <h1 class="auth__title">Access your account</h1>
                <p class="info">Fill in your email and password to proceed</p>
                <form>
                    <label>Email</label>
                    <input type="email" placeholder="you@gmail.com">
                    <label>Password</label>
                    <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off">
                    <button i18n type="submit" class="button button__accent" (click)="login(email.value,password.value); email.value=''; password.value='';">Log in</button>
                    <p class="sign-up">Not a member yet?&nbsp;&nbsp;<a routerLink='/register' routerLinkActive='active'>Sign up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>