<mm-navbar></mm-navbar>
<div class="container">
    <div class="row">
        <div class="col col-6">
            <form novalidate [formGroup]="registerDetails" (ngSubmit)="register(registerDetails)">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" style="width: 100%;" class="form-control" formControlName="name" placeholder="Name" autocomplete>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" style="width: 100%;" class="form-control" formControlName="email" placeholder="Email" autocomplete>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" style="width: 100%;" class="form-control" formControlName="phoneNo" placeholder="Phone number" autocomplete>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" style="width: 100%;" class="form-control" formControlName="password" placeholder="Enter password" autocomplete>
                    </div>
                </div>
                <button i18n type="submit" class="btn btn-primary" [disabled]="registerDetails.invalid">Register</button>
                <a routerLink='/login' routerLinkActive='active'>
                    Already a member? Sign in
                </a>
            </form>
        </div>
    </div>
</div>
<mm-footer></mm-footer>