<mm-navbar></mm-navbar>
<div class="auth">
    <div class="container">
        <div class="auth__inner">
            <div class="auth__media">
                <img src="assets/svg/undraw_selfie.svg">
            </div>
            <div class="auth__auth"><br><br>
                <h1 class="auth__title">Reset Password</h1>
                <p class="error" #msg>
                    {{message}}
                </p>
                <form>
                    <label>Password</label>
                    <input type="password" #password placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" required>
                    <label>Confirm Password</label>
                    <input type="password" #confirmPassword (blur)="validatePassword(password.value, confirmPassword.value);" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" required>
                    <button i18n type="submit" class="button button__accent" (click)="updatePassword(password.value, confirmPassword.value);">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>