img {
    height: auto;
    width: 22vw;
}

.block {
    display: block;
    margin-left: auto;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.459);
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe00;
    border: none;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.modal-content > img {
    height: auto;
    width: auto;
    max-height: 80vh;
    max-width: 80vw;
}


/* The Close Button */

.close {
    color: white;
    position: relative;
    top: -35px;
    right: 10%;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.hover-shadow:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/* Add Animation */

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}