<mm-navbar></mm-navbar>
<mm-notification [selectedUser]="selectedUser"></mm-notification>
<div class="container">
  <div class="row">
    <div class="col col-12 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col col-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col col-12 col-xl-5 col-lg-12 col-md-4 col-sm-12">
                  <img class="profile-image" [src]="picUrl" alt="avatar" />
                  <div [ngSwitch]="doctorSchedule?.status">
                    <div *ngSwitchCase="'online'">
                      <div class="status-online" title="Online"></div>
                      <div class="row small-font status-text">
                        <i>Available</i>
                      </div>
                    </div>
                    <div *ngSwitchCase="'offline'">
                      <div class="status-offline" title="Offline"></div>
                      <div class="row small-font status-text">
                        <i>Offline</i>
                      </div>
                    </div>
                    <div *ngSwitchCase="'invisible'">
                      <div class="status-invisible" title="Invisible"></div>
                      <div class="row small-font status-text">
                        <i>Invisible</i>
                      </div>
                    </div>
                    <div *ngSwitchCase="'away'">
                      <div class="status-away" title="Away"></div>
                      <div class="row small-font status-text">
                        <i>Away</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-12 col-xl-7 col-lg-12 col-md-8 col-sm-12">
                  <h5 class="card-title">Dr. {{selectedUser?.firstname}} {{selectedUser?.lastname}}</h5>
                  <p class="card-text" style="line-height: 1em;">{{doctor?.age}} years, {{doctor?.sex}}</p>
                  <p class="card-text" style="line-height: 1em; margin-top: 0px;">{{qualifications}}</p>
                  <p class="card-text" style="line-height: 1em;">{{locations}}</p>
                  <select [(ngModel)]="selectedStatus" (ngModelChange)="updateStatus($event)">
                    <option [ngValue]="undefined" selected disabled>Change Status</option>
                    <option *ngFor="let option of status" [ngValue]="option"> {{option}} </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-12">
          <div class="card shadow" style="height: 320px; width:99%;">
            <div class="card-header">
              <h5 class="offset-1">Consultation History</h5>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-secondary" (click)="getConsutationDetails('today');">Today</button>
                  <button type="button" class="btn btn-secondary" (click)="getConsutationDetails('week');">Week</button>
                  <button type="button" class="btn btn-secondary" (click)="getConsutationDetails('month');">Month</button>
                </div>
              </div>
              <br>
              <div class="row justify-content-around">
                <div class="col col-5 offset-1">
                  <div id="circle">
                    <div id="text">
                      <h4>{{patients}}</h4>
                    </div>
                  </div>
                  <p style="text-align: center; line-height: 1em;">Number of Patients</p>
                </div>
                <div class="col col-5">
                  <div id="circle">
                    <div id="text">
                      <h4>10</h4>
                    </div>
                  </div>
                  <p style="text-align: center;">Earning<small>(in lakhs)</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="card shadow" style="height: 539px;">
        <div class="card-header">
          <h5 class="offset-1">Appointments for Today</h5>
        </div>
        <div class="card-body">
          <div *ngIf="!hideConsultations else showThis">
            <canvas #barChart width="500" height="587"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12 col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div class="card-overflow card shadow" style="height: 250px;">
        <div class="card-header">
          <h5 class="offset-1">Day at a glance</h5>
        </div>
        <div class="card-body">
          <div *ngIf="!hideConsultations else showThis">
            <div *ngFor="let consultation of consultations" class="card">
              <div class="card-body">
                <div class="card-title" style="font-weight:bold; font-size:1rem; margin-bottom:0px;">
                  {{consultation?.type}}
                </div>
                <div class="card-text" style="font-weight:normal; font-size:0.75rem;">
                  {{consultation?.activity}}
                </div>
                <div class="card-text" style="font-weight:normal; font-size:0.75rem;">
                  You have an appointment at {{consultation?.startTime}}
                </div>
              </div>
            </div>
          </div>
          <ng-template #showThis>
            <p class="text-center" style="line-height:100%;">There are no appointments for today.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
