@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    padding-top: 102.66667px;
}

a:hover {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

p {
    line-height: 50%;
    color: #666;
}

.card {
    background: #F7F7F7;
    color: #666;
    margin-top: 25px;
    margin-bottom: 25px;
}

.shadow {
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

button,
.button {
    display: inline-block;
    padding: 6pt 20pt;
    line-height: 1.5;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    font-weight: 400;
    transition: 0.7s;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    outline: none;
}

@media (min-width: 992px) {
    button:hover,
    .button:hover {
        border-color: #463aff;
        color: #463aff;
    }
}

.button__accent {
    background-color: #06d19c;
    border-color: #06d19c;
    color: #fff;
}

@media (min-width: 992px) {
    .button__accent:hover {
        background-color: #05bd8d;
        border-color: #05bd8d;
        color: #fff;
    }
}

.offset-1 {
    margin-left: 3%;
}

#circle {
    position: relative;
    background-color: #9690FD;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.badge {
    font-size: 100% !important;
}

.profile-image {
    max-height: 120px;
    max-width: 120px;
    padding: 3px;
    display: flex;
    border: 1px solid rgba(102, 102, 102, 0.1);
    border-radius: 100%;
}

.status-online {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #3AD29F;
}

.status-offline {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #FF5252;
}

.status-away {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #FFFF00;
}

.status-invisible {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #E2E0FF;
}

.small-font {
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: normal;
}

.status-text {
    margin-left: 30%;
    margin-top: -15px;
}

@media (max-width: 765px) {
    .profile-image {
        max-height: 90px;
        max-width: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .status-online {
        top: -24px;
        left: 56%;
        width: 12px;
        height: 12px;
    }
    .status-offline {
        top: -24px;
        left: 56%;
        width: 12px;
        height: 12px;
    }
    .status-away {
        top: -24px;
        left: 56%;
        width: 12px;
        height: 12px;
    }
    .status-invisible {
        top: -24px;
        left: 56%;
        width: 12px;
        height: 12px;
    }
    .status-text {
        margin-left: 37%;
        margin-bottom: 20px;
        margin-top: -15px;
    }
}

@media (width: 1024px) {
    .profile-image {
        max-height: 90px;
        max-width: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .status {
        top: -25px;
        left: 62%;
        width: 10px;
        height: 10px;
    }
    .status-text {
        margin-left: 37%;
        margin-bottom: 20px;
        margin-top: -15px;
    }
}

@media (width: 768px) {
    #circle {
        position: relative;
        background-color: #9690FD;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-left: 30%;
    }
    canvas {
        max-height: 490px !important;
    }
}


/***dropdown*****/

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.follow-ups {
    color: #666;
    margin-left: 8px;
    margin-bottom: 3px;
}

.card-overflow > .card-body {
    overflow-y: scroll;
    padding: 0.25rem;
}

.card-body::-webkit-scrollbar {
    width: 0.4em;
}

.card-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card-body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}