@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    padding-top: 102.66667px;
}

a {
    color: #666;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

p {
    line-height: 50%;
}

.card {
    background: #F7F7F7;
    color: #666;
    margin-top: 25px;
    margin-bottom: 25px;
}

.shadow {
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.display-image {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    overflow: hidden;
    transition: all 1s;
    transition: .5s ease;
}

.display-image i {
    top: 72%;
    position: absolute;
    left: 68%;
    right: 0%;
    color: #FF5252;
}

@media (max-width: 1125px) {
    .display-image i {
        top: 70%;
        position: absolute;
        left: 64%;
        right: 0%;
        color: #FF5252;
    }
}

@media (max-width: 640px) {
    .display-image i {
        top: 72%;
        position: absolute;
        left: 73%;
        right: 0%;
        color: #FF5252;
    }
}

button,
.button {
    display: inline-block;
    padding: 6pt 20pt;
    line-height: 1.5;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    font-weight: 400;
    transition: 0.7s;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    outline: none;
}

@media (min-width: 992px) {
    button:hover,
    .button:hover {
        border-color: #463aff;
        color: #463aff;
    }
}

.button__accent {
    background-color: #06d19c;
    border-color: #06d19c;
    color: #fff;
}

@media (min-width: 992px) {
    .button__accent:hover {
        background-color: #05bd8d;
        border-color: #05bd8d;
        color: #fff;
    }
}

.offset-1 {
    margin-left: 3%;
}

#value {
    vertical-align: middle;
    width: 40px;
    height: 35px;
    text-align: center;
    background-color: #05BD8D;
    border-radius: 5px 0px 0px 5px;
    padding-top: 5px;
}

.name {
    position: relative;
    width: 85% !important;
    height: 35px;
    transition: all 0.2s ease;
    border-radius: 5px;
    background-color: #91FDE3;
    padding-top: 5px;
}

.name a {
    color: #666;
}

.name a:hover {
    text-decoration: none;
}

#circle {
    position: relative;
    background-color: #9690FD;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 200px;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}