a {
    color: #F7F7F7;
}

a:hover {
    color: #F7F7F7;
    text-decoration: none;
}

.report {
    background: #6c63ff;
    border-color: #6c63ff;
    color: #fff;
    padding: 1pt 6pt;
    display: inline-block;
    line-height: 1.5;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    border: none;
}