@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #F7F7F7;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 0px 0;
    color: #666;
}
app-navbar{
    padding-bottom: 6.8vh;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    height: 91%;
    position: relative;
}
a {
    cursor: pointer;
}

.w3-sidebar .fa-times-circle-o {
    color: #666;
    float: left;
    margin-left: 8px;
    font-size: 23px;
    font-weight: 400;
}

.people-list {
    width: 100%;
    float: left;
    /* margin-left: -1rem; */
}

.search {
    /* padding: 20px; */
    margin-right: 0px;
    margin-left:0px;
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
}

.search input,
.search-right input {
    border: none;
    padding-left: 35px;
    color: #666;
    border-radius: 4px;
    background: rgb(244, 244, 244);      
    height: 40px;
    width: 94%;
    margin: 5% 6%;
    font-size: 14px;
    outline: none;
}

.search .fa-search {
    position: relative;
    right: -10%;
    color: #666;
    top: -41px;
}

.search-right {
    padding: 10px 0px;
    width: 105%;
    position: relative;
}

.search-right input {
    margin: unset;

}

.search-right .fa-search {
    position: absolute;
    left: 11px;
    color: #666;
    top: 23px;
}

.w3-sidebar-right .fa-times-circle-o {
    color: #666;
    font-size: 23px;
    font-weight: 400;
    float: right;
    /* margin-left: 5px; */
}

.selected-group {
    height: 62px !important;
    display: flex;
    align-items: center;
    /* transition: 2s all; */
    background-color: rgb(244, 244, 244);
}  
.pad{
    padding: 0% 6% !important;
}
.people-list:hover {
    background-color: #EEE;
}

.people-list img {
    float: left;
    height: 44px;
    width: 44px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 50%;
    transition: 0.5s;
    padding: 3px;
}

.people-list .about {
    float: left;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    width: 79.5%;
    height: 44px;
    margin-left: 7px;
}

.status,
.name {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Poppins SemiBold";
    text-overflow: ellipsis;
    max-width: 98%;
    font-size: 10px;
    font-family: "Poppins SemiBold";
    color: rgb(68, 68, 68);
      
}
.group-info{
    font-size: 9.461px;
    color: rgb(157, 163, 165);
      
}


/* height is not required for chat window as it dont have any parent element with fixed height and it's height is always aggregate of header,history and footer */

.chat {
    width: 100%;
    float: left;
    height: 100%;
    /* background: #F7F7F7; */
    border-left: 1px solid rgba(0,0,0,0.102);
    border-right: 1px solid rgba(0,0,0,0.102);
    color: #434651;
    /* height: 100%; */
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15); */
}

.w3-sidebar-right {
    height: 100% !important;
    width: 280px;
    right: 0;
    padding: 0 15px;
    background-color: white;
    position: absolute !important;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    display: none;
}
.w3-sidebar-right .heading{
    display: flex;
    justify-content: space-between;
}
.chat .chat-header {
    padding: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.102);
}

.chat .chat-header img {
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    padding: 3px;
    border-radius: 50%;
    transition: 0.5s;
}
.chat-header{
    height: 12% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-history{
    height: 79% !important;
}
.chat .container{
    height: 10% !important;
}
.w3-main{
    height: 100%;
}
.chat .chat-header .chat-about {
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50px;
    padding-left: 10px;
    width: calc(100% - 50px);
    /* margin-top: 6px; */
}

.chat .chat-header .chat-with {
    font-size: 17.467px;
    color: rgb(68, 68, 68);
    font-weight: bold;  
}
.ellipsize{
    width: 100%;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.chat .chat-header .chat-num-messages {
    font-size: 9.461px;
    color: rgb(157, 163, 165);      
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid rgba(0,0,0,0.102);;
    overflow-y: auto;
    overflow-x: hidden;
    height: 44vh;
}



.chat-history::-webkit-scrollbar,
.w3-sidebar::-webkit-scrollbar,
.w3-sidebar-right::-webkit-scrollbar {
    width: 0.4em;
}

.chat-history::-webkit-scrollbar-track,
.w3-sidebar::-webkit-scrollbar,
.w3-sidebar-right::-webkit-scrollbar {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat-history::-webkit-scrollbar-thumb,
.w3-sidebar::-webkit-scrollbar-thumb,
.w3-sidebar-right::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat .chat-history .message-data {
    margin-bottom: 5px;
    margin-top: 5px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
    font-size: 0.7em;
}

.chat .chat-history .message-data-name {
    font-size: 0.7em;
}

.chat .chat-history .message {
    color: #333C44;
    padding: 5px 8px;
    line-height: 20px;
    font-size: 13px;
    border-radius: 7px;
    border-bottom-right-radius: 0px;
    width: auto;
    max-width: 70%;
    position: relative;
    word-wrap: break-word;
}

.chat .chat-history .message:after {
    /* position: absolute;
    content: "";
    top: -7px;
    left: 2%;
    border-style: solid;
    border-width: 0px 12px 12px;
    border-color: #EDE7F6 transparent;
    display: block;
    width: 0; */
}

.chat .chat-history .my-message {
    float: left;
    background-image: linear-gradient( 180deg, rgb(17,119,198) 0%, rgb(105,96,255) 100%);
    border-radius: 7px;
    border-top-left-radius: 0px;
    color: white;
}

.chat .chat-history .other-message {
    background-color: rgba(244, 244, 244, 0.9);
    font-size: 13px;
    color: rgb(68, 68, 68);      
}

.chat .chat-history .other-message:after {
    /* content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 5px;
    top: -17px;
    border: 10px solid;
    border-color: #6C63FF transparent transparent transparent;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg); */
}

.chat .chat-footer {
    padding: 15px;
    height: 65px;
}

textarea {
    border: none;
    width: 100%;
    height: 35px;
    color: #666;
    transition: 0.7s;
    /* background-color: #F7F7F7; */
    /* border-radius: 30px; */
    padding: 5px 10px;
    padding-right: 25px;
    margin-top: 20px !important;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    /* resize: none; */
    overflow: hidden !important;
}

textarea:focus {
    border-color: rgba(108, 99, 255, 0.5);
    background-color: #fff;
    outline: 0;
}

.chat .fa-paperclip {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat button {
    padding: 4pt 16pt;
    line-height: 1.5;
    font-weight: 400;
    transition: 0.7s;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    background-color: #06d19c;
    border: none;
    color: #fff;
    margin-right: 2%;
}

.chat button:hover {
    background-color: #05bd8d;
    color: #fff;
}

.online,
.other,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #06D19C;
}

.offline {
    color: #FF5637;
}

.me {
    color: #6C63FF;
}

.other {
    color: #EDE7F6;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix {
    padding: 0rem !important;
    height: fit-content;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: fit-content;
}

.fa-dot-circle-o,
.fa-sliders,
.fa-thermometer-three-quarters,
.fa-check-square-o,
.fa-video-camera,
.fa-picture-o,
.fa-file-video-o,
.fa-file-image-o,
.fa-files-o,
.fa-file-o,
.fa-archive,
.fa-window-close-o,
.fa-newspaper-o {
    font-size: 1.2rem;
    color: gray;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.file-upload {
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 1s;
}

.file-upload input[type='file'] {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.file-upload input[type='file']:hover {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 0rem !important;
}

.dropdown-menu.show {
    border: none;
    padding: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding-bottom: 18%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


/*offline state*/

.led-red {
    margin-left: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}


/*away state*/

.led-yellow {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}


/*available state*/

.led-green {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}


/*busy state*/

.led-blue {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.modal-xxl .modal-lg {
    max-width: 90%;
}

.modal-header {
    display: block!important;
}

.modal-title {
    float: left;
}

.modal-header .close {
    float: right;
}

#videoImage {
    border: none;
}


/* delete icon for each message*/

.delete-message {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 4px;
}

.muted {
    font-size: 12px;
    font: #9C9C9C;
    position: absolute;
    background: #ded4d4;
    border-radius: 10px;
    transform: translate(3vw, -3vh);
}

.message:hover .delete-message {
    visibility: visible;
    cursor: pointer;
}
.people-list:hover .list .pad {
    height: 62px !important;
    display: flex;
    align-items: center;
    background-color: rgb(244, 244, 244);
}

.dropdown-menu.options-dropdowm.show {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
    min-width: 6rem;
    font-size: 10px;
}

.media-header {
    background: #F2F5F8;
}

.close:hover {
    cursor: pointer;
}

#download:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    background-color: #333C44;
    color: #9E9E9E;
    height: 5%;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    bottom: 0;
}

.media-list {
    background-color: rgba(244, 244, 244, 0.8);
    /* overflow: auto; */
    max-height: fit-content;
}

.media-list .card-body {
    padding: 10px 5px;
}

:host ::ng-deep .media-list .lds-roller {
    left: 50% !important;
}

:host ::ng-deep .media-list img{
    height: 60px !important;
    width: 60px !important;
}
.allfiles-video{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* :host ::ng-deep .media-list video {
    height: 130px !important;
    width: 130px !important;
} */
:host ::ng-deep .media-list span {
    line-height: 1.2;
    display: block;
    font-size: 11px;
    position: relative;
    /* top: 8px; */
}

:host ::ng-deep .media-list small {
    position: absolute;
    top: -5px;
    right: 19px;
    font-size: 8px;
}

#unreadmessage {
    color: white;
    border-radius: 50%;
    background-color: #004eff;
    font-size: 12px;
    font-weight: 700;
    margin-left: 4px;
    padding: 0 8px;
}

.error-message-body {
    position: fixed;
    top: 9.5%;
    right: 1.5%;
    z-index: 2;
    width: fit-content;
}

.error-message {
    border-radius: 15px;
    background: rgba(244, 244, 244, 0.9);
    font-size: 15px;
    animation: animateError 0.4s ease-in;
    margin-top: 7px;
    cursor: pointer;
}

@keyframes animateError {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.error-close {
    position: absolute;
    top: 7%;
    right: 4%;
}

.chat-history {
    position: relative;
}

.error-card {
    padding: 15px 15px 6px;
}

app-prescription {
    height: auto;
    width: 93%;
    position: absolute;
    background: #ecece9;
    overflow-x: hidden;
    border: 4px solid #e4dcdc;
    border-radius: 11px;
}

.spinner {
    width: 40px;
    height: 13px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 4px;
    border-radius: 26px
}

.spinner>div {
    width: 6px;
    height: 6px;
    position: relative;
    bottom: 3px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.muted>div {
    display: inline-block
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 23px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    margin: 6px;
    border: 2px solid #2039e4;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2039e4 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#active-group-button {
    background: #6c63ff;
    border-color: #6c63ff;
    color: #fff;
    padding: 6pt 12pt;
    display: inline-block;
    line-height: 1.5;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    border: none;
}

#active-group-button:hover {
    background: #463aff;
}

.allfiles-image::ng-deep .loader-holder{
    width: 70px !important;
    height: 70px !important;
}

.allfiles-image::ng-deep .lds-roller{
    left: 4% !important;
    top: 6% !important;
}
#image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.three-green-dots{
    display: flex;
    background: #16bf16;
    height: 36px;
    width: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    z-index: 1;
    transition: all 0.6s;
}
.three-green-dots span{
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    margin: 2px;
}
.three-green-dots:hover{
    transition-delay: 0s;
    transform: rotate(180deg);
}

/* .allfiles-video-sendername{
 display: inline-block;
}
.allfiles-video-date{
    display: inline-block;
} */
.green-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    display: inline-block;
    margin-right: 6px;
}
.group-action-icons{
    display: flex;
}
.group-action-icons div{
    margin: 10px;
    background: rgba(0,0,0,0.102);
    border-radius: 50%;

}
.chat-footer{
    position: absolute;
    top: 3px;
    right: 3px;
}
form.message{
    position: relative;
    overflow: hidden;
}
.chat-header .wrapper{
    width: 80%;
    display: flex;
    align-items: center;
}
.chat-footer .wrapper{
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    position: relative;
}

.chat-footer .wrapper > i{
    z-index: 1; 
}


.chat-footer .wrapper-icons{
    display: flex;
    visibility: hidden;
    position: absolute;
    left: -37px;
    opacity: 0;
    transition: all 0.6s;
}

.chat-footer .wrapper > .three-green-dots:hover + .wrapper-icons,
.chat-footer .wrapper > .three-green-dots + .wrapper-icons:hover
{
    visibility: visible;
    opacity: 1;
    left: -127px;
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width:768px) {
    .w3-sidebar {
        width: 300px;
    }
}
@media (max-width: 991px){
    .w3-sidebar{
        height: calc(99% - 47px);
        margin-top: 47px;
    }
    .container-fluid{
        height: 86%;
    }   
}
@media (max-width: 767px) and (min-width:576px){
}

@media (max-width: 575px) and (min-width: 320px){
    .group-action-icons div{
        margin: 5px;
    }
    .group-action-icons div i{
        font-size: 14px;
    }
    .chat-header .wrapper{
        width: 73%;
    }
    .chat-about .chat-with{
        font-size: 12px !important;
    }
    .chat-header .wrapper > .chat-about{
        padding-left: 5px;
    }
    .chat-header .wrapper > img{
        width: 40px;
        height: 40px;
    }
}
