<app-navbar></app-navbar>
<div class="main-holder">
  <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="margin: 0 auto;">
        <h1>Doctor Registration</h1>
        <p>All fields are mandatory</p>
        <p [ngClass]="message ? 'message' : 'error'" *ngIf="message || error">{{message || error}}</p>
        <form novalidate [formGroup]="registerDoctorProfiles" (ngSubmit)="register(registerDoctorProfiles)">
          <!-- firstname and lastname -->
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" placeholder="First Name" formControlName="firstname"
                  autocomplete [ngClass]="{'error-form':f.firstname.errors && formSubmitted}" autocapitalize="on">
                <div *ngIf="f.firstname.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.firstname.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    FirstName
                    is required</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" placeholder="Last Name" formControlName="lastname" autocomplete
                  [ngClass]="{'error-form':f.lastname.errors && formSubmitted}">
                <div *ngIf="f.lastname.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.lastname.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    LastName
                    is required</div>
                </div>
              </div>
            </div>
          </div>
          <!-- mci -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="form-group">
                <label>MCI Reg No</label>
                <input class="form-control" type="number" placeholder="MCI Reg No" formControlName="regNo" autocomplete
                  [ngClass]="{'error-form':f.email.errors && formSubmitted}">
                <div *ngIf="f.regNo.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.email.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    MCI Number
                    is required</div>
                </div>
              </div>
            </div>
          </div>
          <!-- email and mobilenumber -->
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" placeholder="you@example.com" formControlName="email"
                  autocomplete [ngClass]="{'error-form':f.email.errors && formSubmitted}">
                <div *ngIf="f.email.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.email.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Email
                    is required</div>
                  <div *ngIf="f.email.errors.email && !f.email.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Valid
                    Email is required</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Mobile No.</label>
                <input class="form-control" type="tel" id="phoneNo" formControlName="phoneNo"
                  placeholder="xxxxxxxxxx" #phoneNum 
                  [ngClass]="{'error-form':f.phoneNo.errors && formSubmitted}" autocomplete="new-password">
                <div *ngIf="f.phoneNo.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.phoneNo.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Mobile
                    Number is required</div>
                  <div *ngIf="f.phoneNo.errors.minlength"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Not
                    a valid mobile number</div>
                  <div *ngIf="f.phoneNo.errors.maxlength"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Not
                    a valid mobile number</div>
                </div>
              </div>
            </div>
          </div>
          <!-- password and confirm password -->
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" formControlName="password"
                  placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="new-password"
                  [ngClass]="{'error-form':f.password.errors && formSubmitted}">
                <div *ngIf="f.password.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.password.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Password
                    is required</div>
                  <div *ngIf="f.password.errors.minlength"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Password
                    should be 6 characters</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" formControlName="confirmPassword"
                  placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off"
                  [ngClass]="{'error-form':f.confirmPassword.errors && formSubmitted}">
                <div *ngIf="f.confirmPassword.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="f.confirmPassword.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Password
                    is required</div>
                  <div *ngIf="f.confirmPassword.errors.mismatch"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">
                    Password
                    should match</div>
                </div>
                <!-- <div class="alert alert-danger" *ngIf="registerDetails.controls.confirmPassword.errors?.matchPassword">Password -->
                <!-- not match</div> -->
              </div>
            </div>
          </div>
          <!-- exp adn speciality -->
          <div class="row">

            <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12">
              <div class="form-group">
                <label>Speciality</label>
                <ng-multiselect-dropdown [placeholder]="'Specialities'" [data]="specialitiesDropdownList"
                  formControlName="speciality" [settings]="specialityDropdownSettings" #specialitiesBlock>
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="form-group">
                <label>Experience (in years)</label>
                <input type="number" class="form-control" formControlName="experience" placeholder="1" min="1" max="90">
              </div>
            </div>
          </div>
          <div class="terms-policy">By Signing up, you agree to mesomeds <a href="#" data-toggle="modal"
              data-target="#terms-conditions">Terms
              and Conditions</a> & <a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a>
          </div>
          <button class="send-otp" data-toggle="modal">REGISTER<i
              class="fa fa-lg fa-angle-right" aria-hidden="true"></i>
          </button>
        </form>
        <div class="sign-in">Already a member? <a routerLink="/login">Sign in</a></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <img src="../../assets/images/blue-back.png">
  </div>
</div>

<!-- Terms & Conditions Modal -->
<div class="modal fade" id="terms-conditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms></app-terms>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Privacy policy Modal -->
<div class="modal fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-policies></app-policies>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- OTP Modal -->
<div class="modal fade" id="otp-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="padding: 0 1rem;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-container>
        <div class="modal-body" style="border-bottom: none; text-align: center">
          <img src="../../assets/images/verified-tick.png" style="width: 40px">
          <h2 style="margin-top: 15px;font-size: 30px;font-family: 'Poppins SemiBold';color: blue;">OTP Verified!</h2>
          <button class="proceed-to-signin">PROCEED TO SIGN IN</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
