:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}.container{
    padding-top: 102px;
    flex: 1;
}
.login-form{
    margin: 0px auto;
    max-width: 364px;
} 
h1{
    font-weight: bold;
    line-height: 1.2;
    font-size: 32px;
    text-align: center;
}
h1 span{
    font-style: italic;
}
p{
    font-size: 13px;
    color: rgb(157, 163, 165);
    line-height: 1.385;
    width: 89%;
    text-align: center;
    margin: 26px auto;
}
p.message{
    text-align: center;
}
p.error{
    color: red;
    position: relative;
    animation: moveLeft 0.5s ease-out;
    animation-fill-mode: forwards;
}
p.success{
    color: green;
    position: relative;
    animation: moveLeft 0.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes moveLeft{
    0%{
        right: 100px;
    }
    100%{
        right: 0px;
    }
}
input.form-control {          
    border-radius: 0px;
    background: white;
    border: 1px solid #eee;
    width: 100%;
    transition: 0.7s;
    font-size: 13px; 
    color: rgb(0, 0, 0); 
    line-height: 1.692;
    font-weight: 450;
    margin-bottom: 1.4em;
    display: block;
    padding-left: 17px;
}
input[type="password"]{
    padding-right: 35px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    box-shadow: 0 0 0 30px white inset !important;
}
input::placeholder {
    font-size: 13px; 
    color: rgb(157, 163, 165); 
    line-height: 1.692;
}
.form-group{
    position: relative;
}
.form-group a.show-password{
    position: absolute;
    top: 7px;
    right: 10px;
}
.form-group label:not(.remember-label){
    position: absolute;
    font-size: 11px;
    left: 17px;
    top: -10.5px;
    z-index: 100;
    background: white;
    color: rgb(157, 163, 165); 
    line-height: 2; 
}
.login-button{      
    width: 100%;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;  
    border-radius: 4px;
    background-color: rgb(31, 214, 166);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);  
    padding: 9px 0px;
    margin-bottom: 34px;   
}  
.remember-label{
    visibility: hidden;
    margin-left: 4px;
    position: relative;
    bottom: 2px;
    font-size: 13px;
    color: rgb(157, 163, 165);      
}
.forgot-password{
    float: right;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
.login{
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.sign-up-text{
    font-size: 13px;
    text-align: center;
    padding-top: 23px;
    color: rgb(157, 163, 165);
}
.sign-up-text a{      
    color: rgb(31, 214, 166);      
}
.container-fluid{
    height: 22.5%;
    padding: 0;
    /* background-image: url(../../assets/images/blue-back.png);
    background-size: cover; */
}
.container-fluid img{
    height: 100%;
    width: 100%;
}