<app-navbar></app-navbar>
<div class="main-holder">
  <div class="container" style="width: 100%;">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="margin: 0 auto;">
        <h1>Register With Us</h1>
        <p>All fields are mandatory</p>
        <p class="error" *ngIf="error || message" [ngClass]="message ? 'message' : 'error'">
          {{ message || error }}
        </p>
        <form [formGroup]="registerDetails" (ngSubmit)="submitForm()">
          <!-- firstname and lastname -->
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" title="First Name" placeholder="First Name" formControlName="firstname"
                  autocomplete [ngClass]="{'error-form':formControls.firstname.errors && formSubmitted}" autofocus>
                <div *ngIf="formControls.firstname.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="formControls.firstname.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">FirstName
                    is required</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" placeholder="Last Name" formControlName="lastname" autocomplete
                  [ngClass]="{'error-form':formControls.lastname.errors && formSubmitted}">
                <div *ngIf="formControls.lastname.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="formControls.lastname.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">LastName
                    is required</div>
                </div>
              </div>
            </div>
          </div>
          <!-- email and mobilenumber -->
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" placeholder="you@example.com" formControlName="email"
                  autocomplete [ngClass]="{'error-form':formControls.email.errors && formSubmitted}">
                <div *ngIf="formControls.email.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="formControls.email.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Email
                    is required</div>
                  <div *ngIf="formControls.email.errors.email && !formControls.email.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Valid
                    Email is required</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Mobile No.</label>
                <input class="form-control" type="tel" id="phoneNo" style="margin-bottom:0px;" formControlName="phoneNo"
                  placeholder="xxxxxxxxxx" #phoneNum [ngClass]="{'error-form':formControls.phoneNo.errors && formSubmitted}"
                  name="phone-number"
                  autocomplete="phone-number" />
                <div *ngIf="formControls.phoneNo.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="formControls.phoneNo.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Mobile
                    Number is required</div>
                  <div *ngIf="formControls.phoneNo.errors.minlength" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Not
                    a valid mobile number</div>
                  <div *ngIf="formControls.phoneNo.errors.maxlength" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Not
                    a valid mobile number</div>
                  <div *ngIf="otpFlag && !formControls.phoneNo.errors.maxlength && !formControls.phoneNo.errors.minlength && !formControls.phoneNo.errors.required"
                    style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Please
                    Verify the Mobile number</div>
                </div>
                <!-- <div *ngIf="!formControls.phoneNo.errors && formSubmitted" style="position: relative;">
                      <div *ngIf="otpFlag" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Please Verify the Mobile number</div>
                    </div> -->
              </div>
            </div>
          </div>
          <!-- password and confirm password -->
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" formControlName="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                  autocomplete="off" [ngClass]="{'error-form':formControls.password.errors && formSubmitted}">
                <div *ngIf="formControls.password.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="formControls.password.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                    is required</div>
                  <div *ngIf="formControls.password.errors.minlength" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                    should be 6 characters</div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                <label>Confirm Password</label>
                <input class="form-control" type="password" formControlName="confirmPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                  autocomplete="off" [ngClass]="{'error-form':formControls.confirmPassword.errors && formSubmitted}">
                <div *ngIf="formControls.confirmPassword.errors && formSubmitted" style="position: relative;">
                  <div *ngIf="formControls.confirmPassword.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                    is required</div>
                  <div *ngIf="formControls.confirmPassword.errors.mismatch" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                    should match</div>
                </div>
                <!-- <div class="alert alert-danger" *ngIf="registerDetails.controls.confirmPassword.errors?.matchPassword">Password -->
                <!-- not match</div> -->
              </div>
            </div>
          </div>
          <div class="terms-policy">By Signing up, you agree to mesomeds <a href="#" data-toggle="modal" data-target="#terms-conditions">Terms
              and Conditions</a> & <a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a></div>
          <button type="submit" class="send-otp" data-toggle="modal">
            <div class="lds-ring" *ngIf="loader"><div></div><div></div><div></div><div></div></div>
            SEND OTP
            <i class="fa fa-lg fa-angle-right"
              aria-hidden="true"></i>
          </button>
        </form>
        <div class="sign-in">Already a member? <a  routerLink="/login">Sign in</a></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <img src="../../assets/images/blue-back.png">
  </div>
</div>

<!-- Terms & Conditions Modal -->
<div class="modal fade" id="terms-conditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms></app-terms>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Privacy policy Modal -->
<div class="modal fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-policies></app-policies>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- OTP Modal -->
<div class="modal fade" id="otp-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="padding: 0 1rem;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ng-container *ngIf="otpFlag">
        <div class="modal-body">
          <h3>OTP Verification</h3>
          <p>Enter the OTP sent to <span>+91-7013842401</span></p>
          <div class="otp-timer">{{ this.timer | date:'mm:ss'}}</div>
          <div class="otp-inputs" #otpInput>
            <input type="tel" maxlength="1" size="1" #val1>
            <input type="tel" maxlength="1" size="1" #val2>
            <input type="tel" maxlength="1" size="1" #val3>
            <input type="tel" maxlength="1" size="1" #val4>
            <input type="tel" maxlength="1" size="1" #val5>
            <input type="tel" maxlength="1" size="1" #val6>
          </div>
          <p>Didn't receive the verification code? <br /><a href="#">Resend OTP</a></p>
          <button class="register"><span *ngIf="!verifyOtp" (click)="confirmOtp(val1.value,val2.value,val3.value,val4.value,val5.value,val6.value)">VERIFY & REGISTER</span><span *ngIf="verifyOtp"><div class="lds-ring verify-ring"><div></div><div></div><div></div><div></div></div>Verifying OTP</span></button>

        </div>

        <div class="modal-footer">
          <p>Already a member?<a  routerLink="/login"> Sign in</a></p>
        </div>
      </ng-container>
      <ng-container *ngIf="!otpFlag">
        <div class="modal-body" style="border-bottom: none; text-align: center">
          <img src="../../assets/images/verified-tick.png" style="width: 40px">
          <h2 style="margin-top: 15px;font-size: 30px;font-family: 'Poppins SemiBold';color: blue;">OTP Verified!</h2>
          <button class="proceed-to-signin" routerLink="/login">PROCEED TO SIGN IN</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
