.main-holder{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container{
  padding-top: 102px;
  height: fit-content;  
}
.error{
  color: red;
}
input:focus{
  outline: none;
  box-shadow: unset;
}
h1{
  font-size: 32px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;  
}
p{
  font-size: 13px;
  color: rgb(157, 163, 165);
  text-align: center;  
  margin-bottom: 32px;
}
input.form-control {          
  border-radius: 0px;
  background: white;
  border: 1px solid #eee;
  width: 100%;
  transition: 0.7s;
  font-size: 13px; 
  color: rgb(0, 0, 0); 
  line-height: 1.692;
  font-weight: 450;
  margin-bottom: 1.4em;
  display: block;
  padding-left: 17px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    box-shadow: 0 0 0 30px white inset !important;
}
input::placeholder {
    font-size: 13px; 
    color: rgb(157, 163, 165); 
    line-height: 1.692;
}
.form-group{
  position: relative;
}
.form-group label{
  position: absolute;
  font-size: 11px;
  left: 8px;
  top: -10.5px;
  z-index: 100;
  background: white;
  color: rgb(157, 163, 165); 
  line-height: 2; 
}
.send-otp,
.register,
.proceed-to-signin{
  width: 100%;
  border: none;
  color: white;
  outline: none;
  font-size: 14px;
  font-weight: bold;  
  border-radius: 4px;
  background-color: rgb(31, 214, 166);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);  
  padding: 13px 0px;
  margin-bottom: 25px;   
  position: relative;
  margin-top: 16px;  
}
.send-otp i{
  position: absolute;
  right: 16px;
  top: 18px;
}
form{
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.terms-policy{
  font-size: 13px;
  font-family: "Poppins";
  color: rgb(157, 163, 165);  
  margin: 9px auto;
  text-align: center;
}
.sign-in{
  text-align: center;
  margin-top: 27px;
  font-size: 13px;
  color: rgb(157, 163, 165);
}
a{
  color: rgb(31, 214, 166); 
}
.container-fluid{
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  padding: 0;
  /* background-image: url(../../assets/images/blue-back.png);
  background-size: cover; */
}
.container-fluid img{
  height: 100%;
  width: 100%;
}
.otp-inputs input[type="tel"]{
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-family: "Poppins SemiBold";
  color: rgb(0, 0, 0);
  line-height: 1.222;
  text-align: center;  
}
.otp-inputs input[type="tel"]:not(:first-child){
  margin-left: 15px;
}
.otp-inputs input[type='tel'] {
  -moz-appearance:textfield;
}
.otp-inputs input[type=tel]::-webkit-inner-spin-button,
.otp-inputs input[type=tel]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#otp-window  .modal-dialog{
  max-width: 300px;
}
#otp-window .modal-header{
  border-bottom: none;
  padding: 6px 2px;
}
#otp-window h3{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;  

}
#otp-window .modal-body{
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
}
/* #otp-window .modal-body p{
  color: green;
} */
#otp-window .modal-body p:first-of-type {
    font-size: 14px;
    font-family: "Poppins Medium";
    margin-bottom: 0;
}
#otp-window .modal-body p:first-of-type span{
  color: black;
  font-weight: bold;
}
.otp-timer{
  font-size: 30px;
  font-family: "Poppins SemiBold";
  color: blue;
  margin: 18px 0;
  text-align: center;
}
.otp-inputs{
  text-align: center;
}
#otp-window .modal-body p:nth-child(5){
  margin-top: 26px;
  margin-bottom: 10px;
  font-size: 13.5px;
}
#otp-window .modal-footer{
  justify-content: center;
}
#otp-window .modal-footer p{
  margin-bottom: 9px;
}
#otp-window a{
  font-weight: bold;
}







.lds-ring {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 25%;
  width: 6  4px;
  height: 64px;
}.lds-ring.verify-ring{
  left: 18%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 6px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
