<app-navbar></app-navbar>
<div class="container">
  <ng-container *ngIf="validToken">
  <div class="login-form">
    <div class="login">
      <h1>Reset Password</h1>
      <p *ngIf="message" [ngClass]="error ? 'error':'success'">{{message}}</p>
      <form [formGroup]="resetForm">
        <div class="form-group">
          <label>Password</label>
          <input type="password" #password formControlName="password" class="form-control"
            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" required>
            <a class="show-password" (click)="showPassword();">
                <i class="fa fa-eye" #eye aria-hidden="true"></i>
              </a>
            <div *ngIf="formControls.password.errors && formSubmitted" style="position: relative;">
                <div *ngIf="formControls.password.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                  is required</div>
                <div *ngIf="formControls.password.errors.minlength" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                  should be 6 characters</div>
              </div>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control"
            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" required>
          <div *ngIf="formControls.confirmPassword.errors && formSubmitted" style="position: relative;">
              <div *ngIf="formControls.confirmPassword.errors.required" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                is required</div>
              <div *ngIf="formControls.confirmPassword.errors.mismatch" style="margin-bottom:3px;color:#ff0000db; text-align: left;position: relative; left: 15px; font-size:13px">Password
                should match</div>
            </div>
        </div>
        <button i18n type="submit" class="login-button"
          (click)="updatePassword();" #resetButton>RESET PASSWORD</button>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="validToken === false">
  <p class="error">Invalid Link Or Link Expired. Please try again</p>
</ng-container>
</div>
<div class="container-fluid">
  <img src="../../assets/webp/blue-back.webp">
</div> 
