:host {
  display: block;
}

header {
  color: #d0e4f8;
  padding: 4.5em 0 2.5em 0;
  text-align: center;
  background: linear-gradient(to left, rgba(71, 66, 255, 0.8), rgba(101, 66, 255, 0.8)), url("./assets/svg/undraw_instant_support_elxh.svg");
  background-position: top left, center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35em;
}

.jumbotron {
  background-color: transparent;
  color: #d0e4f8;
  padding: 10em 0 2.5em 0;
  text-align: center;
  font-weight: 900;
  justify-content: center;
  background-position: top left, center center;
  background-attachment: fixed, fixed;
  background-size: auto, cover;
  opacity: 10;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #6960FF;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#myBtn:hover {
  box-shadow: 0px 2px 10px #42A5F5;
}

button,
.button {
  display: inline-block;
  padding: 6pt 20pt;
  line-height: 1.5;
  border: 1px solid #FFFFFF;
  color: #6C63FF;
  font-weight: 400;
  transition: 0.7s;
  white-space: nowrap;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 30px;
  margin-bottom: 1.3em;
  transition: 0.7s;
  text-align: center;
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 15px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  outline: none;
}

.button__primary {
  background-color: #6C63FF;
  border-color: #6C63FF;
  color: #fff;
  margin: 3% 0% 6% 65%;
}

button:disabled {
  background-color: #DBD8FF;
  color: #FFFFFF;
  border: 1px solid #DBD8FF;
}

button:disabled:hover {
  background-color: #DBD8FF;
  color: #FFFFFF;
  border: 1px solid #DBD8FF;
  cursor: not-allowed;
}

@media (min-width: 992px) {
  .button__primary:hover {
    background-color: #463aff;
    border-color: #463aff;
    color: #fff;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
  input,
  textarea {
    width: 140% !important;
  }
  .left-margin {
    margin-left: 10% !important;
  }
  .button__primary {
    margin-left: 35% !important;
  }
}

/*Small devices (landscape phones, 576px and up) iPhoneX and GalaxyS5*/
@media (max-width: 375px) {
  input,
  textarea {
    width: 120% !important;
  }
  .left-margin {
    margin-left: 10% !important;
  }
  .button__primary {
    margin-left: 25% !important;
  }
}

/*Small devices (landscape phones, 576px and up) iPhone5/SE*/
@media (max-width: 320px) {
  input,
  textarea {
    width: 100% !important;
  }
  .left-margin {
    margin-left: 10% !important;
  }
  .button__primary {
    margin-left: 15% !important;
  }
}

.left-margin {
  margin-left: 27%;
}

input {
  border: 1px solid #eee;
  width: 200%;
  transition: 0.7s;
  color: #111;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  padding: 10pt 20pt;
  border-radius: 30px;
  background-color: #f7f7f7;
  margin-bottom: 1.4em;
  display: block;
  font-size: 14px;
}

input:focus {
  border-color: rgba(108, 99, 255, 0.5);
  outline: 0;
  background-color: #ffffff;
}

textarea {
  border: 1px solid #eee;
  width: 200%;
  color: #666;
  transition: 0.7s;
  background-color: #F7F7F7;
  border-radius: 30px;
  padding: 10pt 20pt;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  resize: none;
}

textarea:focus {
  border-color: rgba(108, 99, 255, 0.5);
  background-color: #fff;
  outline: 0;
}
