<app-navbar></app-navbar>
<div class="container">
    <div class="card" *ngFor="let consultation of consultations; let i=index;" #doctorDashboardComponent>
        <div class="card-header" [ngStyle]="{'background': consultation?.status==='active'?'#3aae3a99':'rgba(0,0,0,.03)'}" *ngIf="selectedUser.role == 'patient' else doctorRole">
            Consultation with Dr. {{ consultation?.user.firstname }} {{ consultation?.user.lastname }}
        </div>
        <ng-template #doctorRole>
            <div class="card-header" [ngStyle]="{'background': consultation.status==='active'?'#3aae3a99':'rgba(0,0,0,.03)'}">
                Consultation with {{ consultation?.user.firstname }} {{ consultation?.user.lastname }}
            </div>
        </ng-template>
        <div class="card-body">
            <p class="card-text">Consultation Summary: {{ consultation?.prescription.description }}</p>
            <p class="card-text">Consulted on: {{ consultation?.prescription.createdAt | date:'md' }}</p>
            <div class="float-right" data-toggle="collapse" class="toggle-{{i}}" [attr.data-target]="'#toggle-'+i" role="button" aria-expanded="false" (click)="changeIcon(i);">
                <a>
                    <span>More</span>
                </a>
            </div>
            <div class="collapse" id="toggle-{{i}}">
                <div style="padding: 1% 0%;">
                    <p class="card-text">Special Instructions: {{ consultation?.prescription.instructions }}</p>
                    <div id="download-prescription">
                        <button class="prescription" [ngClass]="{'non-clickable': !consultation?.prescription?.url}"><a *ngIf="consultation?.prescription?.url; else prescriptionNotAvailable" download="{{consultation.prescription.url}}" (click)="downloadDoc(i,$event)">Download Prescription</a></button>
                        <ng-template #prescriptionNotAvailable>
                            <span>No Prescription</span>
                        </ng-template>
                    </div>
                    <div id="download-bill">
                        <button class="bill" [ngClass]="{'non-clickable': !consultation?.billing?.url}"><a *ngIf="consultation?.billing?.url; else billNotAvailable" download="{{consultation.billing.url}}" (click)="downloadBilling(i, $event)">Download bill</a></button>
                        <ng-template #billNotAvailable>
                            <span>No Bill</span>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 style="text-align: center">{{ message }}</h2>
</div>