<app-navbar></app-navbar>
<div class="container">
    <h4>Consultation History</h4>
    <div class="card" *ngFor="let consultation of consultations;let i = index" #doctorDashboardComponent>
        <div class="card-header">
            <img [src]="sharedService.isValidImage(consultation.picUrl) ? (consultation.picUrl | safe:'url') : ''" >
            <div class="head-text">
                <span *ngIf="selectedUser.role==='patient'">Doctor</span>
                <span *ngIf="selectedUser.role==='doctor'">Patient</span>
                {{consultation.firstname+' '+consultation.lastname}}</div>
            <div class="head-text"><span>Consulted On</span>{{consultation.updatedAt | date: 'MMM dd, yyyy'}}</div>
            <div class="head-logos">
                <a class="prescription" (click)="downloadDoc(i,$event)" [download]="consultation.prescriptionUrl" *ngIf="consultation.prescriptionUrl" download><i class="fa fa-file-text" aria-hidden="true" download style="padding-right: 5px;"></i>PRESCRIPTION</a>
                <a class="bill" (click)="downloadBilling(i, $event)" [download]="consultation.billingUrl" *ngIf="consultation.billingUrl" download>BILL</a>
                <div data-toggle="collapse" class="toggle-{{i}}" [attr.data-target]="'#toggle-'+i" role="button" aria-expanded="false" (click)="changeIcon(i);">
                    <span>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="wrapper collapse" id="toggle-{{i}}">
        <div class="card-body">
            <p class="card-text"><span>Consultation Summary:&nbsp;</span>{{consultation.analysis || emptyMessage}}</p>
            <p class="card-text"><span>Special Instructions:&nbsp;</span>{{consultation.Instructions || emptyMessage}}</p>
            <!-- <p class="card-text"><span>Consulted on:&nbsp;</span> {{ consultation?.prescription.createdAt | date:'md' }}</p> -->
            <div>
                <!-- <div style="padding: 1% 0%;"> -->
                    <!-- <p class="card-text">Special Instructions: {{ consultation?.prescription.instructions }}</p> -->
                    <!-- <div id="download-prescription">
                        <button class="prescription" [ngClass]="{'non-clickable': !consultation?.prescription?.url}"><a ; else prescriptionNotAvailable" download="{{consultation.prescription.url}}" >Download Prescription</a></button>
                        <ng-template #prescriptionNotAvailable>
                            <span>No Prescription</span>
                        </ng-template>
                    </div>
                    <div id="download-bill">
                        <button class="bill" [ngClass]="{'non-clickable': !consultation?.billing?.url}"><a else billNotAvailable" download="{{consultation.billing.url}}" >Download bill</a></button>
                        <ng-template #billNotAvailable>
                            <span>No Bill</span>
                        </ng-template>
                    </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    </div>
    <p class="message">{{ message }}</p>
</div>
<app-footer></app-footer> 