<div *ngIf="thumbImageUrl || thumbImageUrl === ''; else loading" class="img-holder" style="float:left; width: 100%">
  <img *ngIf="message else mediaImage" [src]="thumbImageUrl | safe:'url'" alt="Image"
    class="rounded img-fluid hover-shadow block" (click)="openModal();">
  <ng-template #mediaImage>
    <img [src]="thumbImageUrl | safe:'url'" alt="Image" class="rounded img-fluid block" (click)="openModal();">
  </ng-template>
</div>
<!-- background: gray; -->
<ng-template #loading>
  <div class="loader-holder" style="max-width:100%;min-width:130px;height:130px;">
    <div class="lds-roller" style="top:24%;left:28%">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>

<div class="modal" #modal>
  <button class="close" (click)="closeModal()">
    <i class="fa fa-times-circle-o" aria-hidden="false"></i>
  </button>
  <ng-container *ngIf="fullImageUrl; else load">
    <div class="modal-content">
      <img [src]="fullImageUrl | safe:'url'">
    </div>
  </ng-container>
  <ng-template #load>
    <div class="lds-roller" style="top:34%;left:46%">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-template>
</div>
