<mm-navbar></mm-navbar>
<div class="container">
    <h1>{{title}}</h1>
    <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"><br/><br/>
    <ng2-smart-table [settings]="settings" [source]="source" (create)="onCreate($event)" (delete)="onDelete($event)" (edit)="onSave($event)"></ng2-smart-table>
    <mm-create-modal></mm-create-modal>
    <mm-edit-modal></mm-edit-modal>
    <!-- <div class="container">
        <table>
            <thead>
                <th>Fullname</th>
                <th>Primary Tel No.</th>
                <th>Whatsapp No.</th>
                <th>Location selected</th>
                <th>Email ID</th>
                <th>Manual message</th>
                <th>Terms Accepted</th>
                <th>Confirmation ID</th>
            </thead>
            <tr *ngFor="let orderRequest of orderRequests" [class.selected]="orderRequest === selectedOrderRequest" (click)="onSelect(orderRequest)">
                <td>{{orderRequest.fullname}}</td>
                <td>{{orderRequest.tel}}</td>
                <td>{{orderRequest.watel}}</td>
                <td>{{orderRequest.location}}</td>
                <td>{{orderRequest.mail}}</td>
                <td>{{orderRequest.manual}}</td>
                <td>{{orderRequest.termsAccepted}}</td>
                <td>{{orderRequest.confirmationId}}</td>
            </tr>
        </table>
        <br/>
    </div>
    <br/>
    <form novalidate [formGroup]="customerDetails" (ngSubmit)="add(customerDetails)">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" style="width: 100%;" class="form-control" formControlName="fullname" placeholder="Full name">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="tel" style="width: 100%;" class="form-control" formControlName="tel" placeholder="Primary No">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="tel" style="width: 100%;" class="form-control" formControlName="watel" placeholder="Phone/Whatsapp">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" style="width: 100%;" class="form-control" formControlName="manual" placeholder="Enter manually">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" style="width: 100%;" class="form-control" formControlName="location" placeholder="Location">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" style="width: 100%;" class="form-control" formControlName="mail" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" style="width: 100%;" class="form-control" formControlName="termsAccepted" placeholder="TermsAccepted">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <div class="input-group">
                        <input type="number" style="width: 100%;" class="form-control" formControlName="confirmationId" placeholder="Confirmation ID">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="customerDetails.invalid">Add</button>
    </form>
    <br/>
    <div class="container">
        <div class="row">
            <div *ngIf="selectedOrderRequest">
                <button class="btn btn-default" (click)="delete(selectedOrderRequest); $event.stopPropagation()">Delete Entry</button>
                <button class="btn btn-default" (click)="edit()">Edit Entry</button>
            </div>
        </div>
    </div>
    <br/>
    <div id="edit" style="display: none;">
        <mm-order-detail [orderRequest]="selectedOrderRequest"></mm-order-detail>
    </div>
    <br/> -->
</div>