h1 {
    padding: 5px;
    margin: 5px;
    color: #384948;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

li {
    list-style-type: none;
    display: block;
}

tr:hover {
    background-color: #123456;
    color: #ffffff;
    cursor: pointer;
}

tr.selected {
    background-color: #123456;
    color: #ffffff;
}