<div *ngIf="orderRequest">
    <div class="row">
        <div class="col-sm-3">
            <label>Full Name: </label><br/>
            <input [(ngModel)]="orderRequest.fullname" placeholder="Name" />
        </div>
        <div class="col-sm-3">
            <label>Primary No: </label>
            <input [(ngModel)]="orderRequest.tel" placeholder="Phone Number" />
        </div>
        <div class="col-sm-3">
            <label>Whatsapp No: </label>
            <input [(ngModel)]="orderRequest.watel" placeholder="Whatsapp" />
        </div>
        <div class="col-sm-3">
            <label>Location: </label><br/>
            <input [(ngModel)]="orderRequest.location" placeholder="Location" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label>Email ID: </label><br/>
            <input [(ngModel)]="orderRequest.mail" placeholder="Email" />
        </div>
        <div class="col-sm-3">
            <label>Manual messages: </label>
            <input [(ngModel)]="orderRequest.manual" placeholder="Enter manually" />
        </div>
        <div class="col-sm-3">
            <label>Terms Accepted: </label>
            <input [(ngModel)]="orderRequest.termsAccepted" placeholder="Terms Accepted" />
        </div>
        <div class="col-sm-3">
            <label>Confirmation ID: </label>
            <input [(ngModel)]="orderRequest.confirmationId" placeholder="Confirmation ID" />
        </div>
    </div>
    <button class="btn btn-default" style="margin: 5px;" (click)="save()">Save</button>
</div>