<div *ngIf="userDetails">
    <div class="alert-message">{{message}}</div>
    <form novalidate [formGroup]="userDetails" (ngSubmit)="update(userDetails);">
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" placeholder="First Name" formControlName="firstname" autocomplete>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" placeholder="Last Name" formControlName="lastname" autocomplete>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" placeholder="you@example.com" formControlName="email" autocomplete>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" formControlName="password" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Phone No.</label>
                    <input type="text" placeholder="98xxxxxxxx" formControlName="phoneNo" autocomplete>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Speciality</label>
                    <ng-multiselect-dropdown [placeholder]="'Select Specialities'" [data]="specialitiesDropdownList" formControlName="speciality" [settings]="specialityDropdownSettings" #specialitiesBlock></ng-multiselect-dropdown>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>MCI Reg No.</label>
                    <input type="text" placeholder="ABC1234XZ" formControlName="regNo" autocomplete>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Sex</label>
                    <select formControlName="sex">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Prefer not to disclose</option>
                        </select>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Age</label>
                    <input type="number" placeholder="Age" formControlName="age" autocomplete>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Short Bio</label>
                    <textarea formControlName="shortBio" rows="3" placeholder="Tell us about yourself"></textarea>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Long Bio</label>
                    <textarea formControlName="longBio" rows="3" placeholder="Tell us about yourself"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Address</label>
                    <textarea formControlName="address" rows="3" placeholder="Address"></textarea>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Qualification</label>
                    <ng-multiselect-dropdown [placeholder]="'Qualifications'" [data]="qualificationList" formControlName="qualification" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Languages</label>
                    <ng-multiselect-dropdown [placeholder]="'Languages'" [data]="languageList" formControlName="language" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Location/Zone</label>
                    <ng-multiselect-dropdown [placeholder]="'Locations'" [data]="locationList" formControlName="location" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Mode</label>
                    <ng-multiselect-dropdown [placeholder]="'Consultation Modes'" [data]="consultationModeList" formControlName="consultationMode" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
            </div>
        </div>
        <button type="submit" class="button button-save" [disabled]="userDetails.invalid">Save</button>
    </form>
</div>