<mm-navbar></mm-navbar>
<div class="container">
    <h1 class="profile-title" *ngIf="user">{{user.firstname}} {{user.lastname}}</h1>
    <div class="row">
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="display-image" title="Upload image">
                <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="saveImage($event.target.files)" />
                <img class="rounded-circle img-fluid img-thumbnail" [src]="url | safe: 'url'">
            </div>
            <div class="row">
                {{user.description}}
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div [ngSwitch]="user.role">
                <div *ngSwitchCase="'patient'">
                    <mm-patient-profile [user]="user"></mm-patient-profile>
                </div>
                <div *ngSwitchCase="'doctor'">
                    <mm-doctor-profile [user]="user"></mm-doctor-profile>
                </div>
                <div *ngSwitchCase="'bot'">
                    <mm-staff-profile [user]="user"></mm-staff-profile>
                </div>
                <div *ngSwitchDefault>
                    <div>Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>