@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: #666;
}

.container {
    padding-top: 102.66667px;
    color: #666;
}

.display-image {
    max-width: 120px;
    max-height: 120px;
    display: flex;
    border: 1px solid rgba(102, 102, 102, 0.5);
    padding: 3px;
    border-radius: 100%;
}

.shadow {
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-primary {
    background-color: #6960FF;
    padding: 6pt 20pt;
    line-height: 1.5;
    border: 1px solid #6C63FF;
    color: #FFFFFF;
    font-weight: 400;
    white-space: nowrap;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.btn-primary:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #463AFF;
}

.small-font {
    font-size: 14px;
    line-height: normal;
    word-wrap: break-word;
    word-break: normal;
}

p {
    margin: 0px;
}

.status-text {
    margin-left: 8%;
    margin-top: -15px;
}

.status-online {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #3AD29F;
}

.status-offline {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #FF5252;
}

.status-away {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #FFFF00;
}

.status-invisible {
    position: relative;
    top: -30px;
    left: 93px;
    border: none;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    background-color: #E2E0FF;
}

@media (max-width: 765px) {
    .status-online {
        top: -1.5rem;
        left: 3rem;
        width: 14px;
        height: 14px;
    }
    .status-text {
        margin-top: -15px;
    }
    .status-offline {
        top: -1.5rem;
        left: 3rem;
        width: 14px;
        height: 14px;
    }
    .status-away {
        top: -1.5rem;
        left: 3rem;
        width: 14px;
        height: 14px;
    }
    .status-invisible {
        top: -1.5rem;
        left: 3rem;
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 575.98px) {
    .col-xs-8 {
        padding-left: 30px;
    }
    .col-xs-2 {
        padding-right: 20px;
    }
    .display-image {
        max-width: 60px;
        max-height: 60px;
    }
    .text-muted {
        margin-bottom: 20px;
    }
}