<div class="hero__sub" style="background:#fff;">
    <span id="scrollToNext" class="scroll">
        <a href="#myIndex"  pageScroll [pageScrollDuration]="800" class="hero__sub__down">
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>
<div class="steps landing__section" id="myIndex">
    <div class="container">
        <h2>Who can use Mesomeds?</h2>
        <p>Here's who we can think of, but surely creative people will surprise us.</p>
    </div>
    <div class="container">
        <div class="steps__inner">
            <div class="step">
                <div class="step__media">
                    <img src="assets/svg/undraw_designer.svg" class="step__image">
                </div>
                <h4>Programmers</h4>
                <p class="step__text">A landing page for your open source projects. Present your solution, easily create docs.</p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="assets/svg/undraw_responsive.svg" class="step__image">
                </div>
                <h4>Designers</h4>
                <p class="step__text">A website for your own freebies. Let the world download and use your artwork.</p>
            </div>
            <div class="step">
                <div class="step__media">
                    <img src="assets/svg/undraw_creation.svg" class="step__image">
                </div>
                <h4>Makers</h4>
                <p class="step__text">A great starting point for your web application. Focus on your idea and execution.</p>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="expanded landing__section" style="background:#F7F7F7;height:auto !important; ">
        <div class="container">
            <div class="expanded__inner">
                <div class="expanded__media">
                    <img src="assets/svg/undraw_browser.svg" class="expanded__image">
                </div>
                <div class="expanded__content">
                    <h2 class="expanded__title">Natural styling with almost nothing to learn</h2>
                    <p class="expanded__text">Evie brings you the pages you'll need and the structure to create your own, without a learning curve. It is minimal and mostly styles plain elements. There are only a few classes you'll need to know but nothing to disrupt your preferred
                        coding style.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="expanded landing__section" style="height:auto !important; ">
        <div class="container">
            <div class="expanded__inner">
                <div class="expanded__content">
                    <h2 class="expanded__title">Framework agnostic. Your front-end setup, your choice.</h2>
                    <p class="expanded__text">Evie has zero dependencies and uses vanilla JavaScript for a few functions with minimal footprint. You can use React, Vue, Angular, jQuery or whatever you prefer.</p>
                </div>
                <div class="expanded__media">
                    <img src="assets/svg/undraw_frameworks.svg" class="expanded__image">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="expanded landing__section" style="background:#F7F7F7; height:auto !important; ">
        <div class="container">
            <div class="expanded__inner">
                <div class="expanded__media">
                    <img src="assets/svg/together.svg" class="expanded__image">
                </div>
                <div class="expanded__content">
                    <h2 class="expanded__title">Ready for production or rapid prototyping</h2>
                    <p class="expanded__text">Landing, authentication and a few other pages to select from, despite the small size. Tested on production at unDraw with amazing speeds and unopinionated on how to structure your project. We really hope you'll find it awesome and
                        useful!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="cta cta--reverse">
    <div class="container">
        <div class="cta__inner">
            <h2 class="cta__title">Get started now</h2>
            <p class="cta__sub cta__sub--center">Grab the production version and begin your project instantly.</p>
            <a href="#myIndex" pageScroll [pageScrollDuration]="800">
                <button class="button hero__button">Learn more</button>
            </a>
        </div>
    </div>
</div>