<mm-navbar></mm-navbar>
<header id="myHeader">
    <div class="container">
        <div class="jumbotron">
            <h1 style="color: #FFFFFF;"><b>{{pageTitle}}</b></h1>
            <p i18n="Brief introduction | Tagline for the product">Order Meds, at your ease<br> You focus on healing, we do the running! <a href="https://www.mesomeds.com" target="_blank"> Mesomeds</a></p>
            <form #f="ngForm">
                <div class="row">
                    <select required id="selectLocation" [(ngModel)]="current" name="location">
                        <option *ngFor="let location of locations" [value]="location.location">
                            {{location.location}}
                        </option>
                    </select>
                    <input type="tel" required [(ngModel)]="mobileNumber" name="mobileNumber" id="mobileNumber" autofocus placeholder="Mobile number" pattern="\d{10}" minlength="10" maxlength="10"><br/>
                    <div class="alert alert-danger" *ngIf="f.invalid && f.touched"> Number is required</div>
                    <button i18n type="submit" id="btnHomePlaceOrder" (click)="open(f.value)"><span class="glyphicon glyphicon-modal-window"></span> Place Order </button>
                    <mm-order-window [result]="mobileNumber" [location]="current"></mm-order-window>
                    <a href="#myIndex"> <button i18n type="button" id="myBtn2"><span class="glyphicon glyphicon-chevron-down"></span> Learn more </button></a>
                </div>
            </form>
        </div>
    </div>
</header>
<mm-contents></mm-contents>
<mm-footer></mm-footer>