<header id="myHeader">
    <div class="container">
        <div class="jumbotron">
            <h1 style="color: #FFFFFF;"><b>{{name}}</b></h1>
            <p>Order Meds, at your ease<br> You focus on healing, we do the running! <a href="https://www.mesomeds.com" target="_blank"> Mesomeds</a></p>
            <form #validateForm="ngForm">
                <div class="row">
                    <location-list></location-list>
                    <input type="tel" required [(ngModel)]="tel" name="tel" id="tel" autofocus placeholder="Mobile number" pattern="\d{10}" minlength="10" maxlength="10"><br/>
                    <button type="submit" id="btnHomePlaceOrder" (click)="open(tel)"><span class="glyphicon glyphicon-modal-window"></span> Place Order </button>
                    <sd-order-window [result]="tel"></sd-order-window>
                    <a href="#myIndex"> <button type="button" id="myBtn2"><span class="glyphicon glyphicon-chevron-down"></span> Learn more </button></a>
                </div>
            </form>
        </div>
    </div>
</header>
<sd-contents></sd-contents>
<sd-footer></sd-footer>