<nav class="navbar navbar-expand-sm fixed-top navbar-light" #navbar>
    <div class="container" style="width: 100%; max-width: 100%; height: 100%;">
        <a id="logo" routerLink='/' routerLinkActive='active' *ngIf="user?.role !=='doctor' && user?.role !=='admin'">
            <img src="../../../assets/logo/logo.png">
        </a>
        <a id="logo" [routerLink]="['/dashboards/doctors',user.id]" routerLinkActive='active' *ngIf="user?.role ==='doctor'">
            <img src="../../../assets/logo/logo.png">
        </a>
        <a id="logo" [routerLink]="['/admin/',user.id]" routerLinkActive='active' *ngIf="user?.role ==='admin'">
            <img src="../../../assets/logo/logo.png">
        </a>
        <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="fa fa-reorder" id="icon-bar" style="color: rgb(68, 68, 68)"></div>
        </button>
        <div class="collapse navbar-collapse height-100" id="navbarSupportedContent">
            <ul class="navbar-nav">
            </ul>
            <div class="my-2 my-lg-0 height-100 test">
                <div class="mr-sm-2 row navbar__menu height-100">
                    <div *ngIf="loggedIn && user.role ==='patient'" class="height-100 navbar-link">
                        <a routerLink="/" class="doctors-available height-100 center-v-flex"  routerLinkActive='active'>Doctors Available</a>
                    </div>
                    <div *ngIf="loggedIn && user.role ==='patient'" class="height-100 navbar-link">
                            <a [routerLink]="['/visitors', user.id]" class="doctors-available height-100 center-v-flex"  routerLinkActive='active'>Reports</a>
                    </div>
                    <div *ngIf="loggedIn && user.role ==='doctor'" class="height-100 navbar-link">
                            <a [routerLink]="['/doctor/reports', user.id]" class="doctors-available height-100 center-v-flex"  routerLinkActive='active'>Reports</a>
                    </div>
                    <div *ngIf="!loggedIn" class="height-100 navbar-link login-text">
                            <a routerLink="/login" class="doctors-available height-100 center-v-flex"  routerLinkActive='active'>Login / Signup</a>
                    </div>
                    <div *ngIf="!loggedIn" class="height-100 navbar-link login-text">
                            <a routerLink="/registerDoctor" class="doctors-available height-100 center-v-flex"  routerLinkActive='active'>Are you a Doctor?</a>
                    </div>
                    <!-- <a class="nav-link" routerLink="/login" routerLinkActive='active' *ngIf="">Login / Signup</a> -->
                    <!-- <a class="nav-link" routerLink='/registerDoctor' routerLinkActive='active' *ngIf="!loggedIn">Are you a Doctor?</a> -->
                    <!-- <div class="unread-messages">
                        <a role="button" *ngIf="loggedIn && user.role !=='admin'" class="unread-messages-link" [routerLink]="['/chat',user.id]">
                            <i class="fa fa-comment-o fa-2x unread-message-icon" aria-hidden="true" style="color:rgb(68, 68, 68)"></i>
                            <span style="position: absolute;font-size: 15px;bottom: -8px;right:0px;color:#f0f0f1c2" *ngIf="unreadMessageCount && unreadMessageCount!==0">{{ unreadMessageCount }}</span>
                        </a>
                    </div> -->
                    <div class="dropdown notification center-v navbar-link" *ngIf="loggedIn">
                        <a class="notification-icon" role="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell" aria-hidden="true" #bell style="color: rgb(68, 68, 68)"></i>
                            <span style="position: absolute;font-size: 15px;bottom: -10px;color:#242481c2" [ngStyle]="{'right': 9 < unreadNotifications ? '-12px' : '-4px'  }" *ngIf="unreadNotifications && unreadNotifications!==0">{{ unreadNotifications }}</span>
                        </a>
                        <div id="notifications" class="dropdown-menu dropdown-menu-right bubble" aria-labelledby="notification">
                            <div *ngIf="notify; else showThis">
                                <h5>Notifications</h5>
                                <span (click)="clearNotifications()" class="clear-all">CLEAR ALL</span>
                                <div class="dropdown-holder" #notificationDropdown>
                                <div *ngFor="let notification of notifications" class="dropdown-item notification-dropdown">
                                    <div class="notification-item">
                                        <div class="content">
                                            <img src="../../../assets/png/male1.png">
                                            <div>{{ notification?.title }}
                                                    <a class="consult-button" *ngIf="notification?.type==='consultation'" (click)="startConsultation(notification);">Start Consultation</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!-- <div class="card">
                                        <div class="card-body">
                                            <span style="position: absolute;right: 4px;font-size: 9px;top: 0px">{{ notification?.triggerTime | date: 'md' }}</span>
                                            <h5 class="card-title">{{ notification?.title }}</h5>
                                            <p class="card-text">Speciality choosen: {{ notification?.content?.speciality }}</p>
                                            <a class="consult-button" *ngIf="notification?.status==='sent' || notification?.status==='created'" (click)="startConsultation(notification);">Start Consultation</a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            </div>
                            <ng-template #showThis>
                                <div class="dropdown-item">
                                    <p>You do not have any notifications!</p>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="dropdown center-v navbar-link" *ngIf="loggedIn">
                        <a class="inset" href="#" role="button" id="profileSetting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img [src]="picUrl ? (picUrl | safe: 'url') : ''">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right bubble" aria-labelledby="profileSetting">
                            <!-- <a class="dropdown-item" [routerLink]="['/chat',user.id]" *ngIf="user.role !=='admin'">Chat</a> -->
                            <a class="dropdown-item" [routerLink]="['/profiles',user.id]" *ngIf="user.role !=='admin'">Profile</a>
                            <a class="dropdown-item" [routerLink]="['/chat',user.id]" *ngIf="user.role !=='admin'">Chat <span class="unread-count" [ngStyle]="{'padding':unreadMessageCount <= 9 ? '1px 8px': '2px 6px'}" *ngIf="unreadMessageCount && unreadMessageCount!==0">{{ unreadMessageCount }}</span></a>
                            <a class="dropdown-item" [routerLink]="['/dashboards/patients',user.id]" *ngIf="user.role ==='patient' && user.role !=='admin'">Dashboard</a>
                            <a class="dropdown-item" [routerLink]="['/dashboards/doctors',user.id]" *ngIf="user.role ==='doctor' && user.role !=='admin'">Dashboard</a>
                            <a class="dropdown-item" [routerLink]="['/']" *ngIf="user.role ==='bot' && user.role !=='admin'">Dashboard</a>
                            <a class="dropdown-item" [routerLink]="['/consultation',user.id]" *ngIf="user.role ==='doctor'">Consultation History</a>
                            <a class="dropdown-item" [routerLink]="['/consultation',user.id]" *ngIf="user.role ==='patient'">Consultation & History</a>
                            <a class="dropdown-item" [routerLink]="['/payments',user.id]" *ngIf="user.role ==='doctor'">Billings</a>
                            <a class="dropdown-item" [routerLink]="['/payments',user.id]" *ngIf="user.role ==='patient'">Payment & Billing</a>
                            <a class="dropdown-item"  routerLinkActive='active' (click)="logout();">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>