<mm-navbar></mm-navbar><br/><br/><br/>
<h3 style="margin-left:1em;">{{selectedDoctor.name}}</h3>
<div class="container-fluid" id="profile">
    <div class="row">
        <div class="col-2 col-sm-2 col-lg-2">
            <div [ngSwitch]="selectedDoctor.status">
                <div *ngSwitchCase="'online'">
                    <div class="led-box led-green"></div>
                </div>
                <div *ngSwitchCase="'offline'">
                    <div class="led-box led-red"></div>
                </div>
                <div *ngSwitchCase="'busy'">
                    <div class="led-box led-blue"></div>
                </div>
                <div *ngSwitchCase="'away'">
                    <div class="led-box led-yellow"></div>
                </div>
                <div *ngSwitchDefault>
                    <div class="led-box led-red"></div>
                </div>
            </div>
            <img class="rounded-circle" src="{{selectedDoctor.picUrl}}" alt="Display pic" style="height: 120px; width: 120px;" />
        </div>
        <div class="col-12 col-sm-6 col-lg-9">
            <div class="row">
                <div class="col">
                    <strong>{{selectedDoctor.name}}</strong>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    Specialized in {{selectedDoctor.briefDescription.speciality}}
                </div>
                <div class="w-100"></div>
                <div class="col">
                    {{selectedDoctor.briefDescription.experience}} years of experience
                </div>
                <div class="w-100"></div>
                <div class="col">
                    {{selectedDoctor.briefDescription.description}}
                </div>
                <div class="w-100"></div>
                <div class="col">
                    Expected waiting time: {{selectedDoctor.waitingTime}} mins
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <rating [(ngModel)]="selectedDoctor.rating" [readonly]="true">
                    </rating>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="video">
    <ul class="nav nav-pills nav-justified flex-column flex-sm-row">
        <li class="nav-item">
            <a class="nav-link active flex-sm-fill" data-toggle="tab" href="#chat">Consultation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill" data-toggle="tab" href="#history">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill" data-toggle="tab" href="#reports">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill" data-toggle="tab" href="#treatmentPlan">Treatment Plan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link flex-sm-fill" data-toggle="tab" href="#appearCall">Video & Audio Chat</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="appearCall" class="tab-pane fade" role="tabpanel">
            <div class="container-fluid chat-container">
                <h3>Video & Audio Chat</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="safeUrl" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div id="history" class="tab-pane fade" role="tabpanel">
            <div class="container-fluid chat-container">
                <h3>History</h3>
                <p>The space is filled with user's history of visits, consulations, etc.</p>
            </div>
        </div>
        <div id="reports" class="tab-pane fade" role="tabpanel">
            <div class="container-fluid chat-container">
                <h3>Reports</h3>
                <p>Reports are prescriptions given by doctor, previous reports of the patient, any scan details in the history, treatment plans, etc.</p>
            </div>
        </div>
        <div id="treatmentPlan" class="tab-pane fade" role="tabpanel">
            <div class="container-fluid chat-container">
                <h3>Treatment Plan</h3>
                <p>This section will contain the current treatment plan.</p>
            </div>
        </div>
        <div id="chat" class="tab-pane fade show active" role="tabpanel">
            <div class="container-fluid chat-container">
                <div class="container chat-header">
                    <img class="rounded-circle header" src="{{selectedDoctor.picUrl}}" alt="No image" style="height:40px; width:40px;" />
                    <p style="float: left; margin: 10px;">{{selectedDoctor.name}}</p>
                    <div class="social">
                        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container chat-body" id="chatBody">
                    <!--div class="row justify-content-center align-items-start">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> <img class="rounded-circle" src="assets/jpg/chat_bot-02.jpg" alt="No image" height="30px" width="30px" /> A patient is waiting for you...
                        </div>
                    </div-->
                    <div *ngFor="let message of messages">
                        <div [ngSwitch]="message.type">
                            <div *ngSwitchCase="'in'">
                                <div *ngIf="message.picUrl; else alternateUrl">
                                    <img class="rounded-circle" src="{{message.picUrl}}" alt="No image" style="height:30px; width:30px; display:block; float:right;" />
                                </div>
                                <ng-template #alternateUrl>
                                    <img class="rounded-circle" src="assets/jpg/user.jpg" alt="No image" style="height:30px; width:30px; display:block; float:right;" />
                                </ng-template>
                                <div class="message-card-right" id="messages">
                                    <div [ngSwitch]="message.contentType">
                                        <div *ngSwitchCase="'text'">
                                            <mm-text-message [message]="message"></mm-text-message>
                                        </div>
                                        <div *ngSwitchCase="'radio'">
                                            <mm-radio-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-radio-message>
                                        </div>
                                        <div *ngSwitchCase="'slider'">
                                            <mm-slider-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-slider-message>
                                        </div>
                                        <div *ngSwitchCase="'checkbox'">
                                            <mm-checkbox-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-checkbox-message>
                                        </div>
                                        <div *ngSwitchCase="'video'">
                                            <mm-video-message [message]="message"></mm-video-message>
                                        </div>
                                        <div *ngSwitchCase="'appear'">
                                            <mm-appear-message [message]="message" [safeUrl]="safeUrl"></mm-appear-message>
                                        </div>
                                        <div *ngSwitchCase="'image'">
                                            <mm-image-message [message]="message"></mm-image-message>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <mm-text-message [message]="message"></mm-text-message>
                                        </div>
                                        <div style="float:right; margin:-5px 0px 0px 10px;font-size:12px;padding:5px 0px 0px 5px;">
                                            {{message.lastUpdateTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="'out'">
                                <div *ngIf="message.picUrl; else alternateUrl">
                                    <img class="rounded-circle" src="{{message.picUrl}}" alt="No image" style="height:30px; width:30px; display:block; float:left;" />
                                </div>
                                <ng-template #alternateUrl>
                                    <img class="rounded-circle" src="assets/jpg/user.jpg" alt="No image" style="height:30px; width:30px; display:block; float:left;" />
                                </ng-template>
                                <div class="message-card" id="messages">
                                    <div [ngSwitch]="message.contentType">
                                        <div *ngSwitchCase="'text'">
                                            <mm-text-message [message]="message"></mm-text-message>
                                        </div>
                                        <div *ngSwitchCase="'radio'">
                                            <mm-radio-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-radio-message>
                                        </div>
                                        <div *ngSwitchCase="'slider'">
                                            <mm-slider-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-slider-message>
                                        </div>
                                        <div *ngSwitchCase="'checkbox'">
                                            <mm-checkbox-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-checkbox-message>
                                        </div>
                                        <div *ngSwitchCase="'video'">
                                            <mm-video-message [message]="message"></mm-video-message>
                                        </div>
                                        <div *ngSwitchCase="'appear'">
                                            <mm-appear-message [message]="message" [safeUrl]="safeUrl"></mm-appear-message>
                                        </div>
                                        <div *ngSwitchCase="'image'">
                                            <mm-image-message [message]="message"></mm-image-message>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <mm-text-message [message]="message"></mm-text-message>
                                        </div>
                                        <div style="float:right; margin:-5px 0px 0px 10px;font-size:12px;padding:5px 0px 0px 5px;">
                                            {{message.lastUpdateTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="'doctorAlert'">
                                <div class="container">
                                    <div class="row justify-content-center align-items-start">
                                        <img class="rounded-circle" src="{{message.picUrl}}" alt="Image" style="height:30px; width:30px; display:block; margin: 5px;" />
                                        <mm-text-message style="margin:5px;" [message]="message"></mm-text-message><br/>
                                        <div style="float:right; margin:10px;font-size:12px;padding:5px;">
                                            {{message.lastUpdateTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchCase="'userAlert'">
                                <div class="container" style="display:none;">
                                    <div class="row justify-content-center align-items-start">
                                        <img class="rounded-circle" src="{{message.picUrl}}" alt="Image" style="height:30px; width:30px; display:block; margin: 5px;" />
                                        <mm-text-message style="margin:5px;" [message]="message"></mm-text-message><br/>
                                        <div style="float:right; margin:10px;font-size:12px;padding:5px;">
                                            {{message.lastUpdateTime}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                <div class="row justify-content-center align-items-start">
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button> <img class="rounded-circle" src="assets/jpg/chat_bot-02.jpg" alt="No image" height="30px" width="30px" /> Welcome to Mesomeds!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--div *ngIf="message.type; else alignRight">
                            <div *ngIf="message.picUrl; else alternateUrl">
                                <img class="rounded-circle" src="{{message.picUrl}}" alt="No image" style="height:30px; width:30px; display:block; float:left;" />
                            </div>
                            <ng-template #alternateUrl>
                                <img class="rounded-circle" src="assets/jpg/user.jpg" alt="No image" style="height:30px; width:30px; display:block; float:left;" />
                            </ng-template>
                            <div class="message-card" id="messages">
                                <div [ngSwitch]="message.contentType">
                                    <div *ngSwitchCase="'text'">
                                        <mm-text-message [message]="message"></mm-text-message>
                                    </div>
                                    <div *ngSwitchCase="'radio'">
                                        <mm-radio-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-radio-message>
                                    </div>
                                    <div *ngSwitchCase="'slider'">
                                        <mm-slider-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-slider-message>
                                    </div>
                                    <div *ngSwitchCase="'checkbox'">
                                        <mm-checkbox-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-checkbox-message>
                                    </div>
                                    <div *ngSwitchCase="'video'">
                                        <mm-video-message [message]="message"></mm-video-message>
                                    </div>
                                    <div *ngSwitchCase="'appear'">
                                        <mm-appear-message [message]="message" [safeUrl]="safeUrl"></mm-appear-message>
                                    </div>
                                    <div *ngSwitchCase="'image'">
                                        <mm-image-message [message]="message"></mm-image-message>
                                    </div>
                                    <div *ngSwitchDefault>
                                        <mm-text-message [message]="message"></mm-text-message>
                                    </div>
                                    <div style="float:right; margin:-5px 0px 0px 10px;font-size:12px;padding:5px 0px 0px 5px;">
                                        {{message.lastUpdateTime}}
                                    </div>
                                </div>
                            </div>
                        </div-->
                        <!--ng-template #alignRight>
                            <div *ngIf="message.picUrl; else alternateUrl">
                                <img class="rounded-circle" src="{{message.picUrl}}" alt="No image" style="height:30px; width:30px; display:block; float:right;" />
                            </div>
                            <ng-template #alternateUrl>
                                <img class="rounded-circle" src="assets/jpg/user.jpg" alt="No image" style="height:30px; width:30px; display:block; float:right;" />
                            </ng-template>
                            <div class="message-card-right" id="messages">
                                <div [ngSwitch]="message.contentType">
                                    <div *ngSwitchCase="'text'">
                                        <mm-text-message [message]="message"></mm-text-message>
                                    </div>
                                    <div *ngSwitchCase="'radio'">
                                        <mm-radio-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-radio-message>
                                    </div>
                                    <div *ngSwitchCase="'slider'">
                                        <mm-slider-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-slider-message>
                                    </div>
                                    <div *ngSwitchCase="'checkbox'">
                                        <mm-checkbox-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-checkbox-message>
                                    </div>
                                    <div *ngSwitchCase="'video'">
                                        <mm-video-message [message]="message"></mm-video-message>
                                    </div>
                                    <div *ngSwitchCase="'appear'">
                                        <mm-appear-message [message]="message" [safeUrl]="safeUrl"></mm-appear-message>
                                    </div>
                                    <div *ngSwitchCase="'image'">
                                        <mm-image-message [message]="message"></mm-image-message>
                                    </div>
                                    <div *ngSwitchDefault>
                                        <mm-text-message [message]="message"></mm-text-message>
                                    </div>
                                    <div style="float:right; margin:-5px 0px 0px 10px;font-size:12px;padding:5px 0px 0px 5px;">
                                        {{message.lastUpdateTime}}
                                    </div>
                                </div>
                            </div>
                        </ng-template-->
                    </div>
                </div>
                <div class="container chat-footer">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input style="border:none; border-radius:0px;" type="text" class="form-control" onfocus="this.value = this.value;" placeholder="Type your message here..." (keydown.enter)="addMessages(sentMessage.value); sentMessage.value=''" #sentMessage/>
                                <div class="input-group-btn dropup">
                                    <button style="border:none; border-radius:0px;" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <table class="table table-responsive">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createRadio();" data-toggle="tooltip" data-placement="bottom" title="Radio">
                                                        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createSlider();" data-toggle="tooltip" data-placement="bottom" title="Slider">
                                                        <i class="fa fa-sliders" aria-hidden="true"></i>
                                                    </button>
                                                    </td>
                                                    <td>
                                                        <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createCheckbox();" data-toggle="tooltip" data-placement="bottom" title="Checkbox">
                                                            <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createAppear();" data-toggle="tooltip" data-placement="bottom" title="Start video call">
                                                    <i class="fa fa-video-camera" aria-hidden="true"></i>    
                                                    </button>
                                                    </td>
                                                    <td>
                                                        <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createImage();" data-toggle="tooltip" data-placement="bottom" title="Upload image">
                                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createVideo();" data-toggle="tooltip" data-placement="bottom" title="Upload video">
                                                            <i class="fa fa-file-video-o" aria-hidden="true"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="input-group-btn">
                                    <button style="border:none; border-radius:0px;" type="button" class="btn btn-primary" (click)="addMessages(sentMessage.value);sentMessage.value=''">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="feedback">
    <div class="row">
        <div class="col-sm-12">
            <label><h4>Feedback: </h4></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea placeholder="Type here..."></textarea>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default">Cancel</button>
        </div>
    </div>
</div>