#video {
    margin: 10px;
    padding: 10px;
    width: auto;
    border: 1 solid black;
    border-radius: 4px;
    box-shadow: 2px 4px 10px grey;
}

#profile {
    margin: 10px;
    padding: 10px;
    width: auto;
    border-radius: 4px;
    box-shadow: 2px 4px 10px grey;
}

#feedback {
    margin: 10px;
    padding: 10px;
    width: auto;
    border-radius: 4px;
    box-shadow: 2px 4px 10px grey;
}

textarea {
    border: 1 solid lightgrey;
    width: 100%;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    text-indent: 4px;
}

.led-box {
    height: 30px;
    width: 25%;
    margin: 10px 0;
    float: left;
}

.led-box p {
    font-size: 12px;
    text-align: center;
    margin: 1em;
}

.led-red {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-yellow {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.led-green {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.chat-container {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ECEFF1;
    box-shadow: 1px 2px 5px #263238;
}

.chat-header {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 50px;
    padding: 10px;
    height: auto;
    background-color: #FFFFFF;
    color: #2196F3;
}

.header {
    float: left;
}

.chat-body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 400px;
    padding: 10px;
    background-color: #ECEFF1;
    overflow-x: hidden;
    overflow-y: visible;
}

.message-card {
    background-color: #2196F3;
    color: #FFFFFF;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: inherit;
    max-width: 70%;
    text-align: left;
    display: block;
    float: left;
    font-size: 16px;
}

.message-card-right {
    background-color: #FFFFFF;
    color: #2196F3;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: inherit;
    max-width: 70%;
    text-align: left;
    display: block;
    float: right;
    font-size: 16px;
}

.chat-footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.social {
    float: right;
    list-style-type: none;
    color: #2196F3;
}

.social:hover {
    color: #448AFF;
}

a,
a:active,
a:visited {
    margin: 7px;
    color: #2196F3;
}

a:hover {
    color: #448AFF;
}

#appearCall {
    width: 100% !important;
    height: auto !important;
}

.alert {
    width: auto;
    height: 50px;
    padding: 10px;
    margin: 10px;
}

table {
    margin: 0px;
    padding: 10px;
    border: none;
}

#attachmentButton {
    border: none;
    border-radius: 0px;
}