<mm-navbar></mm-navbar>
<div class="container">
    <small>{{message}}</small>
    <div class="card" *ngFor="let consultation of consultations; let i=index;">
        <div class="card-header">
            Consultation with Dr. {{consultation?.user.firstname}} {{consultation?.user.lastname}}
        </div>
        <div class="card-body">
            <p class="card-text">Consultation summary: {{consultation?.prescription.description}}</p>
            <p class="card-text">Consulted at: {{consultation?.prescription.createdAt}}</p>
            <div class="float-right">
                <a data-toggle="collapse" href="#toggle-{{i}}" role="button" aria-expanded="false" (click)="changeIcon(consultation?.prescription.id);">
                    <div id="toggle-{{consultation?.prescription.id}}">More</div>
                </a>
            </div>
            <div class="collapse" id="toggle-{{i}}">
                <div style="padding: 1% 0%;">
                    <p class="card-text">Special instructions: {{consultation?.prescription.instructions}}</p>
                    <div *ngIf="url; else loading">
                        <a [href]="url" *ngIf="!toggleFileName" download="{{fileName}}">{{fileName}}</a>
                        <a [href]="url" *ngIf="toggleFileName" download="{{fileName}}">Download Prescription</a>
                    </div>
                    <ng-template #loading>
                        Downloading...
                    </ng-template>
                    <a [routerLink]="['/bills', consultation?.billId]">Download bill</a>
                </div>
            </div>
        </div>
    </div>
</div>