<mm-navbar></mm-navbar>
<div class="container">
    <small>{{message}}</small>
    <div class="card" *ngFor="let consultation of consultations; let i=index;" #doctorDashboardComponent>
        <div class="card-header" *ngIf="selectedUser.role == 'patient' else doctorRole">
            Consultation with Dr. {{consultation?.user.firstname}} {{consultation?.user.lastname}}
        </div>
        <ng-template #doctorRole>
            <div class="card-header">
                Consultation with {{consultation?.user.firstname}} {{consultation?.user.lastname}}
            </div>
        </ng-template>
        <div class="card-body">
            <p class="card-text">Consultation summary: {{consultation?.prescription.description}}</p>
            <p class="card-text">Consulted at: {{consultation?.prescription.createdAt | date:'md'}}</p>
            <div class="float-right" data-toggle="collapse" class="toggle-{{i}}" [attr.data-target]="'#toggle-'+i"  role="button" aria-expanded="false" (click)="changeIcon(i);">
                <a>
                    <span>More</span>
                </a>
            </div>
            <div class="collapse" id="toggle-{{i}}">
                <div style="padding: 1% 0%;">
                    <p class="card-text">Special instructions: {{consultation?.prescription.instructions}}</p>
                    <!-- <div *ngIf="url; else load"> -->
                    <!-- <a [href]="url" *ngIf="!toggleFileName" download="{{fileName}}">{{fileName}}</a> -->
                    <div id="download-prescription">
                        <button class="prescription"><a *ngIf="consultation?.prescription?.url; else prescriptionNotAvailable" download="{{consultation.prescription.url}}" (click)="downloadDoc(i,$event)">Download Prescription</a></button>
                        <ng-template #prescriptionNotAvailable>
                            <span>No Prescription</span>
                        </ng-template>
                    </div>
                    <!-- <a *ngIf="!consultation?.prescription?.url" download="{{fileName}}" (click)="downloadDoc(i,$evemt)">Download Prescription</a> -->
                    <!-- </div> -->
                    <!-- <ng-template #load>
                        Downloading prescription...
                    </ng-template> -->
                    <!-- <div *ngIf="billUrl; else loading"> -->
                    <!-- <a [href]="billUrl" *ngIf="billFile" download="{{billingFileName}}">{{billingFileName}}</a> -->
                    <div id="download-bill">
                        <button class="bill"><a *ngIf="consultation?.billing?.url; else billNotAvailable" download="{{consultation.billing.url}}" (click)="downloadBilling(i, $event)">Download bill</a></button>
                        <ng-template #billNotAvailable>
                            <span>No Bill</span>
                        </ng-template>
                    </div>
                    <!-- </div> -->
                    <!-- <ng-template #loading>
                        Downloading billing...
                    </ng-template> -->
                </div>
            </div>
        </div>
    </div>
</div>