@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    padding-top: 102.66667px;
}

.card {
    margin: 1rem;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header {
    padding: 0.4rem 1rem;
}

.card-body {
    padding: 0.4rem 1rem;
}

.card-text {
    margin-bottom: 0.25rem;
    margin-top: 0.25em;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #463AFF;
    font-size: 0.8rem;
    cursor: pointer;
}

#download-prescription {
    display: inline-block;
}

#download-bill {
    float: right;
}

.bill,
.prescription {
    background: #6c63ff;
    border-color: #6c63ff;
    color: #fff;
    padding: 1pt 6pt;
    display: inline-block;
    line-height: 1.5;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    border: none;
}

.bill,
.prescription {
    background: #463aff;
}