#myBtn1 {
    background-color: #FFFFFF;
    color: #4696e5;
    margin: 20px 10px 0px 0px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 1.5px solid #EEEEEE;
    border-radius: 6px;
}

#myBtn2 {
    background-color: #4696e5;
    color: #d0e4f8;
    margin: 20px 10px 0px 0px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-image: url("assets/png/overlay.png"), url("assets/svg/pattern-size1.svg");
    border: 1.5px solid #4696e5;
    border-radius: 6px;
}

#myBtn1:hover {
    box-shadow: 0px 4px 10px #4696e5;
}

#myBtn2:hover {
    box-shadow: 0px 4px 10px #4696e5;
}

section {
    text-align: center;
    padding: 4.5em 0 2.5em 0;
    background-color: #F5F5F5;
    color: #757575;
}

hr {
    color: #E0E0E0;
    width: 80%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
}

img {
    padding: 4px;
    border: 1px solid #E0E0E0;
    margin: 30px;
    /*border-radius: 50%;*/
}

li {
    text-align: justify;
}

.hero__sub {
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #F5F5F5;
}

.hero__sub__down {
    width: 1rem;
    height: 1rem;
    color: #666;
    transition: 0.7s;
    cursor: pointer;
}

.hero__sub__down:hover {
    color: #6C63FF;
}


/* get started now section */

.cta {
    background: linear-gradient(to right, #6C63FF, #4641FF);
    color: #fff;
    padding: 48pt 0;
    text-align: center;
}

.cta--reverse {
    background: linear-gradient(to left, #6C63FF, #4641FF);
}

.cta--plain {
    background: #6C63FF;
}

.cta--secondary {
    background: #4641FF;
}

.cta__title {
    color: inherit;
}

.cta__sub {
    opacity: 0.85;
    max-width: 58ch;
    margin: 16pt auto 24pt auto;
}

.cta__sub--center {
    text-align: center;
}


/* download button */

button,
.button {
    display: inline-block;
    padding: 6pt 20pt;
    line-height: 1.5;
    border: 1px solid #05BD8D;
    color: #05BD8D;
    font-weight: 400;
    transition: 0.7s;
    white-space: nowrap;
    cursor: pointer;
    background-color: transparent;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    outline: 0;
}

@media (min-width: 992px) {
    button:hover,
    .button:hover {
        border-color: #05BD8D;
        color: #05BD8D;
    }
}

.hero__button {
    color: #ffffff;
    border-color: #ffffff;
}

@media (min-width: 992px) {
    .hero__button:hover {
        color: #e3e3e3;
        border-color: #e3e3e3;
    }
}