<div class="hero__sub">
    <span id="scrollToNext" class="scroll">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
    </span>
</div>
<section id="myIndex">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h3 i18n>Get Medicines, Health care products, cosmetics and much more</h3>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <h3 i18n>delivered to your doorstep.</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col"></div>
            <div class="col">
                <i class="fa fa-ambulance fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col">
                <i class="fa fa-heartbeat fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col">
                <i class="fa fa-medkit fa-4x" aria-hidden="true"></i>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
<hr style="width: 100%; margin: 0px; padding: 0px;">
<section style="background-color: #FFFFFF; text-align: left;">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-4 col-lg-3 offset-xs-3">
                <img class="rounded-circle" src="assets/jpg/htw.jpg" alt="Loading..." style="height:150px; width:200px; margin-top:0%;" />
            </div>
            <div class="col-12 col-sm-6 col-lg-9">
                <h3 i18n>
                    <i class="fa fa-cogs" style="padding: 0px; margin: 5px;" aria-hidden="true"></i>How this works?
                </h3>
                <ul>
                    <li i18n> Enter your phone number to create an order.</li>
                    <li i18n> Upload your prescription or enter the products you wish to order.</li>
                    <li i18n> What's even better? Simply request a call back!!!</li>
                    <li i18n> Our agents will call you to gather the required information and deliver the order within the hour.</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-sm-6 col-lg-9">
                <h2 i18n>
                    <i class="fa fa-question-circle" style="padding: 0px; margin: 5px;" aria-hidden="true"></i>What is Mesomeds?
                </h2>
                <ul>
                    <li i18n><strong>Mesomeds</strong> aims to revolutionize the hyperlocal pharmacy business by providing indepent pharmacists a platform to expand their reach and customer base.</li>
                    <li i18n>And the end user with easier access to their medical needs, thereby providing them discounts which were never offered to them by their local pharmacy.</li>
                    <li i18n>We aim at getting the local pharmacy to your doorsteps and thus providing you the ease of ordering all your medical needs from the comfort of your home, on the move or otherwise.</li>
                    <li i18n>All at the click of a mouse.</li>
                </ul>
            </div>
            <div class="col-4 col-lg-3 offset-xs-3">
                <img class="rounded-circle" src="assets/jpg/wim.jpg" alt="Loading..." style="height:150px; width:200px;" />
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-4 col-lg-3 offset-xs-3">
                <img class="rounded-circle" src="assets/png/partner.png" alt="Loading..." style="height:150px; width:200px;" />
            </div>
            <div class="col-12 col-sm-6 col-lg-9">
                <h2 i18n>
                    <i class="fa fa-handshake-o" style="padding: 0px; margin: 5px;" aria-hidden="true"></i>Partner with us
                </h2>
                <ul>
                    <li i18n>Why partner with us? Expand your customerbase and retain your existing customers by providing them never before access to your store.</li>
                    <li i18n>Why order from us?</li>
                    <ul>
                        <li i18n>Get medicines from your trusted local store.</li>
                        <li i18n>Order additional items when the agent calls you.</li>
                        <li i18n>Guaranteed bill for all services.</li>
                        <li i18n>Service hours: Mon - Sat : 10AM - 10PM</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr style="width: 100%; margin: 0px; padding: 0px;">
<section style="background-color: #FAFAFA;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h3 i18n>This is a brief introduction to Mesomeds.</h3>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <h3 i18n>Get medicines at the convenience of your home.</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <a pageScroll [pageScrollDuration]="500" href="#myHeader"><button type="button" id="myBtn2" style="color: #FFFFFF;" i18n><span class="glyphicon glyphicon-modal-window"></span> Place order</button></a>
            <a pageScroll [pageScrollDuration]="500" href="#myIndex"><button type="button" id="myBtn1" i18n><span class="glyphicon glyphicon-chevron-up"></span> Learn more</button></a>
        </div>
    </div>
</section>
<hr style="width: 100%; margin: 0px; padding: 0px;">