#myBtn1 {
    background-color: #FFFFFF;
    color: #4696e5;
    margin: 20px 10px 0px 0px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 1.5px solid #EEEEEE;
    border-radius: 6px;
}

#myBtn2 {
    background-color: #4696e5;
    color: #d0e4f8;
    margin: 20px 10px 0px 0px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-image: url("assets/png/overlay.png"), url("assets/svg/pattern-size1.svg");
    border: 1.5px solid #4696e5;
    border-radius: 6px;
}

#myBtn1:hover {
    box-shadow: 0px 4px 10px #4696e5;
}

#myBtn2:hover {
    box-shadow: 0px 4px 10px #4696e5;
}

section {
    text-align: center;
    padding: 4.5em 0 2.5em 0;
    background-color: #F5F5F5;
    color: #757575;
}

hr {
    color: #E0E0E0;
    width: 80%;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
}

img {
    padding: 4px;
    border: 1px solid #E0E0E0;
    margin: 30px;
    /*border-radius: 50%;*/
}

li {
    text-align: justify;
}

.hero__sub {
    -js-display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.hero__sub__down {
    width: 1rem;
    height: 1rem;
    color: #666;
    transition: 0.7s;
    cursor: pointer;
}

.hero__sub__down:hover {
    color: #6C63FF;
}

#scrollToNext {
    transition: 0.7s;
}