<section id="myIndex">
    <div class="container">
        <h2>Get Medicines, Health care products, cosmetics and much more<br> delivered to your doorstep.</h2>
        <i class="fa fa-ambulance" style="font-size: 50px; margin: 20px;" aria-hidden="true"></i>
        <i class="fa fa-heartbeat" style="font-size: 50px; margin: 20px;" aria-hidden="true"></i>
        <i class="fa fa-medkit" style="font-size: 50px; margin: 20px;" aria-hidden="true"></i>
    </div>
</section>
<hr style="width: 100%; margin: 0px; padding: 0px;">
<section style="background-color: #FFFFFF; text-align: left;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/jpg/htw.jpg" class="img-circle" alt="Loading..." height="250" width="300" />
            </div>
            <div class="col-sm-8">
                <h2>
                    <i class="fa fa-cogs" style="padding: 0px; margin: 5px;" aria-hidden="true"></i>How this works?
                </h2>
                <ul class="a">
                    <li> Enter your phone number to create an order.</li>
                    <li> Upload your prescription or enter the products you wish to order.</li>
                    <li> What's even better? Simply request a call back!!!</li>
                    <li> Our agents will call you to gather the required information and deliver the order within the hour.</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>
                    <i class="fa fa-question-circle" style="padding: 0px; margin: 5px;" aria-hidden="true"></i>What is Mesomeds?
                </h2>
                <ul class="b">
                    <li><strong>Mesomeds</strong> aims to revolutionize the hyperlocal pharmacy business by providing indepent pharmacists a platform to expand their reach and customer base.</li>
                    <li>And the end user with easier access to their medical needs, thereby providing them discounts which were never offered to them by their local pharmacy.</li>
                    <li>We aim at getting the local pharmacy to your doorsteps and thus providing you the ease of ordering all your medical needs from the comfort of your home, on the move or otherwise.</li>
                    <li>All at the click of a mouse.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="assets/jpg/wim.jpg" class="img-circle" alt="Loading..." height="250" width="300" />
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/png/partner.png" class="img-circle" alt="Loading..." height="250" width="300" />
            </div>
            <div class="col-sm-8">
                <h2><i class="fa fa-handshake-o" style="padding: 0px; margin: 5px;" aria-hidden="true"></i>Partner with us
                </h2>
                <ul class="a">
                    <li>Why partner with us? Expand your customerbase and retain your existing customers by providing them never before access to your store.</li>
                    <li>Why order from us?
                        <ul>
                            <li> Get medicines from your trusted local store.</li>
                            <li>Order additional items when the agent calls you.</li>
                            <li>Guaranteed bill for all services.</li>
                            <li> Service hours: Mon - Sat : 10AM - 10PM</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
<hr style="width: 100%; margin: 0px; padding: 0px;">
<section style="background-color: #FAFAFA;">
    <div class="container">
        <h2>This is a brief introduction to Mesomeds.<br> Get medicines at the convenience of your home.</h2>
        <br>
        <a href="#myHeader"><button type="button" id="myBtn2" style="color: #FFFFFF;"><span class="glyphicon glyphicon-modal-window"></span> Place order</button></a>
        <a href="#myIndex"><button type="button" id="myBtn1"><span class="glyphicon glyphicon-chevron-up"></span> Learn more</button></a>
    </div>
</section>
<hr style="width: 100%; margin: 0px; padding: 0px;">