header {
    background-color: #4696e5;
    color: #d0e4f8;
    padding: 4.5em 0 2.5em 0;
    text-align: center;
    background-image: url("./assets/png/overlay.png"), url("./assets/svg/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    height: 100vh;
    min-height: 35em;
}

.jumbotron {
    background-color: #4696e5;
    color: #d0e4f8;
    padding: 4.5em 0 2.5em 0;
    text-align: center;
    font-weight: 900;
    justify-content: center;
    background-image: url("./assets/png/overlay.png"), url("./assets/svg/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
}

a:link,
a:active,
a:visited {
    color: #d0e4f8;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
}