/*styling for cards in the modal window*/

.card {
    margin: 5px;
    padding: 5px;
    border: 0px solid grey;
    border-radius: 4px;
    box-shadow: 2px 4px 10px grey;
    width: 100%;
    height: auto;
}


/*status box for doctors*/

.led-box {
    height: 30px;
    width: 25%;
    margin: 10px 0;
    float: left;
}

.led-box p {
    font-size: 12px;
    text-align: center;
    margin: 1em;
}


/*offline state*/

.led-red {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}


/*away state*/

.led-yellow {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}


/*available state*/

.led-green {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}


/*busy state*/

.led-blue {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}


/*video thumbnails for video profiles*/

#thumbnail {
    margin: 20px;
    padding: 5px;
    height: 60%;
    width: 60%;
}

#thumbnail:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*scrolling to enable modal window scroll*/

modal {
    overflow: auto !important;
}