<modal style="z-index: 1049;" #doctorsList>
    <modal-header [show-close]="true">
        Available doctors:
    </modal-header>
    <modal-body>
        <!--div *ngFor="let doctorDetail of doctorDetails">
            <label>Name: </label> {{doctorDetail.name}}<br/>
            <label>Display picture: </label><img src="{{doctorDetail.picUrl}}" alt="Display pic" style="height: 100px; width: 100px;" /><br/>
            <label>Specialization: </label> {{doctorDetail.breifDescription.speciality}}<br/>
            <label>Experience: </label> {{doctorDetail.breifDescription.experience}} years<br/>
            <label>Description: </label> {{doctorDetail.breifDescription.description}}<br/>
            <label>Status: </label> {{doctorDetail.status}}<br/>
            <label>Expected waiting time: </label> {{doctorDetail.waitingTime}} mins<br/>
            <label>Rating: </label> {{doctorDetail.rating}}<br/>
            <iframe width="400" height="320" src="{{doctorDetail.videoUrl}}" frameborder="1px" allowfullscreen></iframe>
        </div-->
        <div *ngFor="let doctorDetail of doctorDetails">
            <div class="row" id="box">
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-3">
                                <div [ngSwitch]="doctorDetail.status">
                                    <div *ngSwitchCase="'online'">
                                        <div class="led-box led-green"></div>
                                    </div>
                                    <div *ngSwitchCase="'offline'">
                                        <div class="led-box led-red"></div>
                                    </div>
                                    <div *ngSwitchCase="'busy'">
                                        <div class="led-box led-blue"></div>
                                    </div>
                                    <div *ngSwitchCase="'away'">
                                        <div class="led-box led-yellow"></div>
                                    </div>
                                    <div *ngSwitchDefault>
                                        <div class="led-box led-red"></div>
                                    </div>
                                </div>
                                <img src="{{doctorDetail.picUrl}}" data-toggle="tooltip" title="{{doctorDetail.status}}" class="img-circle" style="height: 100px; width: 100px;" alt="Not found" />
                            </div>
                            <div class="col-sm-9">
                                <h3 class="card-title">{{doctorDetail.name}}</h3>
                                <p class="card-text">Doctor is {{doctorDetail.breifDescription.experience}} years experienced in {{doctorDetail.breifDescription.speciality}}. <br/> {{doctorDetail.breifDescription.description}}
                                </p>
                                <rating [(ngModel)]="doctorDetail.rating" [readonly]="true"> </rating>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <button type="button" class="btn btn-info" style="float:right; margin:2px;" (click)="navigate(doctorDetail)">Consult now</button>
                            <button type="button" id="something" class="btn btn-info collapsed" data-toggle="collapse" [attr.data-target]="'#' + doctorDetail.collapseId" style="float: right; margin: 2px;"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
                            <div id="{{doctorDetail.collapseId}}" class="panel-collapse collapse">
                                <div class="panel-body">Doctor status: {{doctorDetail.status}}</div>
                                <img id="thumbnail" src="{{doctorDetail.thumbnailUrl}}" data-toggle="tooltip" title="Click to play" (click)="openModal(doctorDetail)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="doctorsList.dismiss()">Cancel</button>
    </modal-footer>
</modal>
<mm-video-modal></mm-video-modal>