<app-navbar></app-navbar>
<div class="container bill-container">
  <div class="heading">
    <h1>Billings</h1>
    <!-- <div class="sorting">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle sorting-button" type="button" id="payment-mode" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="dropdown-text">Payment Method</span>
      </button>
      <div class="dropdown-menu items" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="filter('All')">All</a>
        <a class="dropdown-item" (click)="filter('Credit@Card')">Credit Card</a>
        <a class="dropdown-item" (click)="filter('Debit@Card')">Debit Card</a>
        <a class="dropdown-item" (click)="filter('Net@Banking')">Net Banking</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle sorting-button" type="button" id="sort-date" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="dropdown-text">Billing Date</span>
      </button>
      <div class="dropdown-menu items" aria-labelledby="dropdownMenuButton">
      </div>
    </div>
  </div> -->
</div>
  <div class="row test1">
    <div *ngFor="let bill of bills;let i = index" class="col col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12" style="display: flex;justify-content: center">
      <div class="card bill-data">
        <div class="card-header">
          <div class="row" style="align-items: center">
            <img class="doctor-image" [src]="sharedService.isValidImage(bill.picUrl) ? (bill.picUrl | safe:'url') : ''">
            <div class="patient-name">
              <span class="title" *ngIf="selectedUser.role==='patient'"> Doctor</span>
              <span class="title" *ngIf="selectedUser.role==='doctor'"> Patient</span>
              <div class="name ellipsize">{{bill.firstname + ' '+ bill.lastname}}</div>
            </div>
            <div class="download-icon" *ngIf="bill.url">
              <img src="../../assets/images/download-icon.png" (click)="downloadBill(i, $event)">
              <a style="display:none" [download]="bill.url"></a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="bill-id">
            Bill #{{bill.orderId}}
          </div>
          <div class="amount-bill">
            <div class="amount">
              <span>Amount</span>
              <span>&#8377;{{bill.amount}}.00</span>
            </div>
            <div class="bill-date">
              <span>Billed Date</span>
              <span>{{bill.updatedAt | date: 'dd MMM yyyy'}}</span>
            </div>
          </div>
          <div class="bill-info">
          <div class="wrapper">
          <div>Bill <span>#{{bill.orderId}}</span></div>
          <div>{{bill.updatedAt | date: 'dd MMM yyyy'}}</div>
          <div>Total Hours <span>#270832</span></div>
          <div>Rate per hour <span>#270832</span></div>
          <div>Subtotal <span>#270832</span></div>
          <div>Taxes <span>#270832</span></div>
          <div>Total Amount <span>&#8377;{{bill.amount}}</span></div>
        </div>  
        </div>
        </div>
        <div class="card-footer">
          <ng-container *ngIf="bill.status==='Success'">
              <img class="wallet-icon" src="../../assets/webp/wallet-icon.webp">
              <div class="payment-method">
                <span class="title">Payment Method</span>
                <div class="method">{{bill.modeOfPayment}}</div>
              </div>
          </ng-container>
          <div class="retry-payment" *ngIf="bill.status==='Failure' || bill.status==='Aborted' ">
            <button data-toggle="modal"  *ngIf="selectedUser.role==='patient'" data-target="#paymentModal" (click)="paymentGatewayCall()">
              Retry Payment
            </button>
            <button data-toggle="modal"  *ngIf="selectedUser.role==='doctor'" data-target="#paymentModal">
                Request Pay
              </button> 
          </div>
          <div class="pay-now" *ngIf="bill.status==='due'">
              <button data-toggle="modal"  *ngIf="selectedUser.role==='patient'" data-target="#paymentModal" (click)="paymentGatewayCall()">
                Pay now
              </button>
              <button data-toggle="modal"  *ngIf="selectedUser.role==='doctor'" data-target="#paymentModal">
                  Request Pay
                </button> 
            </div>
        </div>
      </div>
    </div>
  </div>
  <h4 *ngIf="emptyBills && bills.length===0" class="empty-bills">There are no bills at this point</h4>
  <h4 *ngIf="emptyBills && bills.length > 0" class="empty-bills">There are no more bills</h4>
  <h4 *ngIf="noBillWithId" class="empty-bills">There are no bills with that id</h4>
</div>
<div class="container" *ngIf="response">
    <div class="modal fade" (click)="paymentModalClick($event)" data-keyboard="false" data-backdrop="static" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true" #paymentModal>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div *ngIf="response" [innerHtml]="response | safe:'html'"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #dismissButton>Dismiss</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>