<modal [animation]="false" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title" i18n>Fill in the details below:</h4>
    </modal-header>
    <modal-body>
        <form novalidate [formGroup]="userDetails" (ngSubmit)="requestCallback(userDetails)">
            <div class="form-group">
                <div class="input-group">
                    <input type="tel" style="width: 100%;" class="form-control" formControlName="tel" [(ngModel)]="result" placeholder="Mobile number">
                    <div class="input-group-addon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="input-group">
                    <input type="text" style="width: 100%;" class="form-control" formControlName="speciality" [(ngModel)]="speciality" placeholder="Speciality">
                </div>
            </div>
            <button i18n type="submit" class="btn btn-primary" [disabled]="userDetails.invalid">Request callback</button>
        </form>
        <p style="text-align: center;" i18n> Or
        </p>
        <form novalidate [formGroup]="userDetails" (ngSubmit)="onSubmit(userDetails)">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" style="width: 100%;" class="form-control" formControlName="fullname" placeholder="Full name">
                    <div class="input-group-addon">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="tel" style="width: 100%;" class="form-control" formControlName="watel" [value]="result" placeholder="Phone/Whatsapp">
                    <div class="input-group-addon">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="email" style="width: 100%;" class="form-control" formControlName="mail" placeholder="Email">
                    <div class="input-group-addon">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p>Upload file:</p>
                <label class="custom-file" for="uFile" i18n>
                <input type="file" class="custom-file-input" multiple formControlName="uFile">
                <span class="custom-file-control"></span>
                </label>
            </div>
            <div class="form-group">
                <label i18n>Enter manually:</label>
                <textarea formControlName="manual" class="form-control" rows="5"></textarea>
            </div>
            <label i18n class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" formControlName="termsAccepted" required>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                    I agree to <a href="/terms" target="_blank">Terms and Conditions</a>
                </span>
            </label><br/>
            <button i18n type="submit" class="btn btn-primary" [disabled]="userDetails.invalid">Submit</button>
        </form>
    </modal-body>
    <modal-footer>
        <button i18n type="button" class="btn btn-danger" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
    </modal-footer>
</modal>