<app-navbar></app-navbar>
<div class="container">
  <div class="row doctor-details-body">
    <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="card doctor-info shadow">
        <div class="card-header">
          <div class="flex">
            <img class="profile-image" src="../../assets/test.jpg" />
            <div class="doctor-name flex flex-column">
              <p>Dr. {{selectedUser?.firstname+' '+selectedUser?.lastname}}</p>
              <div class="doctor-price">
                <span>&#8377;150</span>
                <span>&nbsp;&nbsp;Per Hour</span>
              </div>
            </div>
          </div>
          <div class="flex ratings">
            <span>4.5</span>
            <div class="loading-holder">
              <span class="loading-bar"></span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="flex">
            <div class="flex doctor-experience">
              <span>Experience:&nbsp;</span>
              <span>{{doctor?.doctorDetails?.experience}} years</span>
            </div>
            <div class="flex doctor-patients">
              <span>Patients:&nbsp;</span>
              <span>28</span>
            </div>
          </div>
          <div class="flex flex-column doctor-details">
            <span>Info</span>
            <p>{{qualifications}} - {{doctor?.speciality}}</p>
            <span>Locations</span>
            <p>{{locations}}</p>
            <span>Consults via</span>
            <p>{{consultationModes}}</p>
            <button (click)="consultNow()">PAY AND CONSULT NOW</button>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="card shadow doctor-info-body">
        <div class="card-header">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link link active" id="pills-home-tab" data-toggle="pill" href="#pills-profile" role="tab"
                aria-controls="pills-home" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" id="pills-profile-tab" data-toggle="pill" href="#pills-media" role="tab"
                aria-controls="pills-profile" aria-selected="false" (click)="getDoctorMedia();">Media</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" id="pills-contact-tab" data-toggle="pill" href="#pills-activities" role="tab"
                aria-controls="pills-contact" aria-selected="false" (click)="getActivities(this.doctorId)">Activities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" id="pills-home-tab" data-toggle="pill" href="#pills-reviews" role="tab"
                aria-controls="pills-home" aria-selected="true">Reviews</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade  active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-home-tab"
              style="text-align: left">
              <div class="row">
                <div class="col col-6 col-xl-4 col-lg-4 col-md-4 col-sm-6 doctor-body-info">
                  <span>Languages known</span>
                  <p>{{languages}}</p>
                </div>
                <div class="col col-6 col-xl-4 col-lg-4 col-md-4 col-sm-6 doctor-body-info">
                  <span>Education & Training</span>
                  <p>{{qualifications}}</p>
                </div>
                <div class="col col-6 col-xl-4 col-lg-4 col-md-4 col-sm-6 doctor-body-info">
                  <span>Certification & Licensure</span>
                  <p>MCI No: {{doctor?.doctorDetails?.regNo}} </p>
                </div>
              </div>
              <span>Work History</span>

              <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                  <ng-container *ngFor="let i of [1,2,3,4]">
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 test">
                      <div class="card work-history">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <span>9AM - 9PM</span>
                          <p>Worked as full time doctor at abcdcabscba, chennai</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="row professional-societies">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <span>Professional Societies</span>
                  <p>{{professionalSociety}}</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-media" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <span class="sub-heading-text">Honours</span>
                  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <!-- <div class="wrapper"> -->
                    <div class="owl-carousel owl-theme">
                      <ng-container *ngIf="mediaFiles.honours?.length > 0">

                        <div class="image-holder" *ngFor="let honour of mediaFiles.honours">
                          <!-- <img src="../../assets/png/male1.png"> -->
                          <app-image-message [imageUrl]="honour.thumbUrl" (imageFullUrl)="openModal(honour.thumbUrl)">
                          </app-image-message>
                          <div class="image-info">
                            <span>{{honour.title}}</span>
                            <span>{{honour.description}}</span>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <span class="sub-heading-text">Awards & Recognitions</span>
                    <div class="owl-carousel owl-theme">
                      <ng-container *ngIf="mediaFiles.awards?.length > 0">

                        <div class="image-holder" *ngFor="let award of mediaFiles.awards">
                          <app-image-message [imageUrl]="award.thumbUrl" (imageFullUrl)="openModal(award.thumbUrl)">
                          </app-image-message>
                          <div class="image-info">
                            <span>{{award.title}}</span>
                            <span>{{award.description}}</span>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <span class="sub-heading-text">Videos</span>
                    <div class="owl-carousel owl-theme">
                      <ng-container *ngIf="mediaFiles.videos?.length > 0">

                        <div class="image-holder" *ngFor="let video of mediaFiles.videos">
                          <app-image-message [imageUrl]="video.thumbUrl" (imageFullUrl)="openVideo(video.url)">
                          </app-image-message>
                          <div class="image-info">
                            <span>{{video.title}}</span>
                            <span>{{video.description}}</span>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-activities" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="row">
                <!-- <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12"> -->
                <span style="display: block;margin-left: 15px;">Recent Activities</span>
                <ng-container *ngFor="let activity of doctorActivities">
                  <div class="card recent-activity">
                    <div class="card-body">
                      <img [src]="activity.mediaUrl | safe : 'url'">
                      <p> {{activity.title}}</p>
                    </div>
                  </div>
                </ng-container>
                <!-- </div> -->
              </div>
            </div>
            <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" #modal>
  <button class="close" (click)="closeModal()">
    <i class="fa fa-times-circle-o" aria-hidden="false"></i>
  </button>
  <ng-container *ngIf="fullImageUrl; else load">
    <div class="modal-content">
      <img [src]="fullImageUrl | safe:'url'">
    </div>
  </ng-container>

  <ng-template #load>
    <div class="lds-roller" style="top:34%;left:46%">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-template>
</div>
<div class="modal" #modal1>
  <button class="close" (click)="closeModal()">
    <i class="fa fa-times-circle-o" aria-hidden="false"></i>
  </button>
  <ng-container *ngIf="videoUrl; else load">
    <video #video style="display: none" controls="true" style="width: 80%;height: auto;margin: auto">
      <source [src]="videoUrl" type="video/mp4">
    </video>
  </ng-container>

  <ng-template #load>
    <div class="lds-roller" style="top:34%;left:46%">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-template>
</div>
