<app-navbar></app-navbar>
<app-notification [selectedUser]="selectedUser"></app-notification>
<app-navbar></app-navbar>
<div class="container container-1">
  <div class="row main-row">
    <h1>{{selectedUser?.firstname}}'s Dashboard</h1>
    <button class="btn edit-profile" [routerLink]="['/profiles',selectedUser?.id]">EDIT PROFILE</button>
  </div>
</div>
<div class="container container-2" style="padding-top: 0px">
  <div class="row body-row-1">
    <div class="col col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
      <div class="card person-info">
        <div class="card-header">
          <div class="person-info-head">
            <img class="profile-pic" [src]="picUrl | safe:'url'">
            <div [ngSwitch]="doctorSchedule?.status">
                <div *ngSwitchCase="'Online'">
                    <div class="status-online" title="Online"></div>
                </div>
                <div *ngSwitchCase="'Offline'">
                    <div class="status-offline" title="Offline"></div>
                </div>
                <div *ngSwitchCase="'invisible'">
                    <div class="status-invisible" title="Invisible"></div>
                </div>
                <div *ngSwitchCase="'Busy'">
                    <div class="status-busy" title="Busy"></div>
                </div>
            </div>
            <div class="profile-name">Dr.{{selectedUser?.firstname+' '+selectedUser?.lastname}}</div>
            <span class="profile-age"><ng-template *ngIf="doctorDetails?.age">{{doctorDetails?.age}} Years Old </ng-template>
              <ng-template *ngIf="doctorDetails?.sex">
                  | {{doctorDetails?.sex}}
              </ng-template>
              </span>
          </div>
        </div>
        <div class="card-body">
          <div class="profile-item-div">
            <div><i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <div class="profile-item">{{qualifications || 'No qualifications updated'}}</div>
          </div>
          <div class="profile-item-div">
            <div><i class="fa fa-map-marker"></i></div>
            <div class="profile-item">{{locations || 'No Locations updated'}}</div>
          </div>
        </div>
        <div class="card-footer">
          <small>Status</small>
          <select class="doctor-status" [(ngModel)]="selectedStatus" (ngModelChange)="updateStatus($event)">
            <option *ngFor="let option of status" [ngValue]="option"> {{ option }} </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
      <div class="card height-weight">
        <div class="card-header">
          Overall Rating
        </div>
        <div class="card-body">
          4.5
        </div>
      </div>
    </div>
    <div class="col col-12 col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
      <div class="card history">
        <div class="card-header">
          <div class="history-span">
            <h5>Consultation History</h5>
            <div class="button-group" role="group" #buttonGroup>
              <a class="button active" (click)="toggleValues('today', 1);">Today</a>
              <a class="button" (click)="toggleValues('week', 2);">Week</a>
              <a class="button" (click)="toggleValues('month', 3);">Month</a>
              <a class="button" (click)="toggleValues('year', 4);">Year</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row justify-content-around">
            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="outer-circle  patients-circle">
                  <div class="circle-info" *ngIf="patients || patients === 0">
                    <span>{{ patients }}</span>
                    <span>Patients</span>
                  </div>
              </div>
            </div>
            <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="outer-circle earnings-circle">
                    <div class="circle-info" *ngIf="earning || earning === 0">
                      <span>&#8377;{{ earning }}</span>
                      <span>Billings</span>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid container-3" style="margin-top:30px; margin-bottom: 50px;">
  <div class="body-row-2">
    <div class="col col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
      <div class="card">
        <div class="card-header">
          <div class="row" style="margin: 0px 0px;">
            <h4>Consultation History</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <ng-template *ngIf="consultations.length > 0; else noConsultations">
              <tr *ngFor="let consultation of consultations">
                <td style="font-size: 14px;font-family: 'Poppins SemiBold';">
                  <img [src]="consultation.picUrl | safe:'url'"
                    style="width: 44px;height: 44px;">&nbsp;&nbsp;&nbsp;{{consultation.firstname +' '+consultation.lastname}}
                </td>
                <td>{{consultation.speciality}}</td>
                <td><i class="fa fa-calendar"></i>&nbsp;{{consultation.startTime | date: 'dd/MM/yyyy'}}</td>
                <td>{{consultation.status}}</td>
                <td><i class="fa fa-map-marker"></i>&nbsp;Chennai</td>
                <td class="via-video">
                  <div>
                    <i class="fa fa-play-circle"></i>&nbsp;Via {{consultation?.consultationMode}}
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template #noConsultations>
              <p>There are no past consultations to display</p>
            </ng-template>
            
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
