<app-navbar></app-navbar>
<div class="container container-1">
        <div class="row main-row">
                <h1>{{selectedUser?.firstname}}'s Dashboard</h1>
                <button class="btn edit-profile" [routerLink]="['/profiles',visitorId]">EDIT PROFILE</button>
            </div>
</div>
<div class="container container-2" style="padding-top: 0px">
    <div class="row body-row-1">
        <div class="col col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
            <div class="card person-info">
                <div class="card-header">
                    <div class="person-info-head">
                        <img class="profile-pic" [src]="picUrl | safe:'url'">
                        <div class="profile-name">{{selectedUser?.firstname+' '+selectedUser?.lastname}}</div>
                        <span class="profile-age">
                            <span>{{visitorDetail?.age || 0}} Years Old </span>
                            <span *ngIf="visitorDetail?.sex as sex">| {{sex}}</span>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="profile-item-div" *ngIf="visitorDetail?.bloodGroup">
                        <div><i class="fa fa-tint"></i></div>
                        <div class="profile-item">{{visitorDetail?.bloodGroup}}</div>
                    </div>
                    <div class="profile-item-div" *ngIf="selectedUser?.email">
                        <div><i class="fa fa-envelope"></i></div>
                        <span class="profile-item">{{selectedUser?.email}}</span>
                    </div>
                    <div class="profile-item-div" *ngIf="selectedUser?.phoneNo">
                        <div><i class="fa fa-phone"></i></div>
                        <div class="profile-item">{{selectedUser?.phoneNo}}</div>
                    </div>
                    <div class="profile-item-div" *ngIf="visitorDetail?.address">
                        <div><i class="fa fa-map-marker"></i></div>
                        <div class="profile-item">{{visitorDetail?.address}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
            <div class="card height-weight">
                <div class="card-header">
                    Basic Info
                </div>
                <div class="card-body">
                    <div class="height-scale">
                        <span>{{visitorDetail?.height || 0}} Ft</span>
                        <img src="../../assets/images/height-marks.png">
                    </div>
                    <div class="human-logo">
                        <img src="../../assets/images/ic-human.png">
                    </div>
                    <div class="weight-scale">
                        <img src="../../assets/images/ic-weighing-scale1.png">
                        <span class="weight-info">{{visitorDetail?.weight || 0}} Kg</span>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
            <div class="card blood-pressure">
                <div class="card-body">
                    <div>
                        <img src="../../assets/png/ic-blood-pressure.png" />
                    </div>
                    <div class="bp-text"> 
                        Blood Pressure
                    </div>
                    <div class="bp-value">
                        <span *ngIf="visitorHealth?.vitals?.bloodPressure as bp; else noBp">{{bp?.split('/')[0]}} &#124; {{bp?.split('/')[1]}}</span>
                        <ng-template #noBp>
                            <span>0 &#124; 0</span>
                        </ng-template>                        
                    </div>
                    <div class="bp-units"> mmHg </div>
                    <div class="ideal bp-ideal">
                        <span  *ngIf="!visitorHealth?.vitals?.bloodPressure?.split('/')[0] else bpExists">BP not updated</span>
                        <ng-template #bpExists>
                            <span *ngIf="visitorHealth?.vitals?.bloodPressure?.split('/')[0] < 90">Low Blood Pressure</span>
                            <span *ngIf="visitorHealth?.vitals?.bloodPressure?.split('/')[0] <= bp <= 120">Ideal Blood Pressure</span>
                            <span *ngIf="visitorHealth?.vitals?.bloodPressure?.split('/')[0] > 120">High Blood Pressure</span>
                        </ng-template>
                    </div>
                    <hr>
                    <div class="last-up bp-last-up">
                        Last Updated on {{(visitorHealth?.updatedAt | date: 'dd MMM,yyyy') || 'Not updated'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
            <div class="card heart-rate">
                <div class="card-body">
                    <div>
                        <img src="../../assets/png/ic-heart-rate.png" />
                    </div>
                    <div class="hr-text"> 
                        Heart Rate
                    </div>
                    <div class="hr-value">{{visitorHealth?.vitals?.heartRate || 0}}</div>
                    <div class="hr-units"> beats per min </div>
                    <div class="ideal hr-ideal">
                        <span *ngIf="!visitorHealth?.vitals?.heartRate else noHr">HeartRate not updated</span>
                        <ng-template #noHr>
                            <span *ngIf="visitorHealth?.vitals?.heartRate < 60">Low Heart Rate</span>
                            <span *ngIf="60 <= visitorHealth?.vitals?.heartRate <= 100">Ideal Heart Rate</span>
                            <span *ngIf="visitorHealth?.vitals?.heartRate > 100">High Heart Rate</span>
                        </ng-template>
                    </div>
                    <hr>
                    <div class="last-up hr-last-up">
                        Last Updated on: {{visitorHealth?.updatedAt | date: 'dd MMM,yyyy' || 'Not updated'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-3" style="margin-top: 25px;">
<div class="row body-row-2">
        <div class="col col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right: 5px">
            <div class="card">
                <div class="card-header">
                    <div class="row" style="margin: 0px 0px;">
                    <h4>Consultation History</h4>
                </div>                      
                </div>
                <div class="card-body scroll" style="max-height: 400px;overflow: auto;">
                    <div class="table-responsive">
                    <table class="table table-striped" *ngIf="consultations?.length > 0; else noConsultations">
                        <ng-template *ngIf="consultations.length > 0; else noConsultations">
                            <tr *ngFor="let consultation of consultations">
                            <td style="font-size: 14px;font-family: 'Poppins SemiBold';">
                                <img [src]="consultation.picUrl | safe:'url'" style="width: 44px;height: 44px;">&nbsp;&nbsp;&nbsp;{{consultation.firstname +' '+consultation.lastname}}
                            </td>
                            <td>{{consultation.speciality}}</td>
                            <td><i class="fa fa-calendar"></i>&nbsp;{{consultation.startTime | date: 'dd/MM/yyyy'}}</td>
                            <td>{{consultation.status}}</td>
                            <td><i class="fa fa-map-marker"></i>&nbsp;Chennai</td>
                            <td class="via-video">
                                <div>
                                    <i class="fa fa-play-circle"></i>&nbsp;Via Video
                               </div>
                            </td>
                        </tr>
                        </ng-template>
                    </table>
                    <ng-template #noConsultations>
                        <p>There are no past consultations to display</p>
                    </ng-template>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-3 allergies-container" style="margin-top: 25px;padding-right: 6px;">
    <div class="clearfix allergies">
    <h3>Known Medical Conditions</h3>
    <ul *ngIf="visitorHealth?.allergies?.length > 0 else noAllergies">
        <li *ngFor="let allergy of visitorHealth?.allergies">{{allergy}}</li>
    </ul>
    <ng-template #noAllergies>
            <h5 style="margin-left: 20px;color: #666;">There are no allergies updated</h5>
    </ng-template>
</div>
</div>
<app-footer></app-footer>