.list {
    background-color: #444753;
    overflow: auto;
    display: block;
}

.selected-user {
    background-color: #F2F5F8;
    border: none;
    border-bottom: 2px solid #FFF;
}

a:link,
a:visited {
    text-decoration: none;
    color: #000;
}

.logout-button {
    display: block;
    background-color: rgb(182, 183, 187);
    border: none;
    margin: 15px 5px 5px 5px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #6A6C75;
}

.chatBox {
    background-color: #F2F5F8;
}

.messageBox {
    display: flex;
    flex-flow: column nowrap;
    background-color: #FFF;
    width: 100%;
    height: 400px;
    margin: 5px;
    overflow-x: hidden;
    overflow-y: visible;
}

form {
    margin: 12px;
    width: 100%;
}

.img-sm {
    height: 35px;
    width: 35px;
    margin: 10px;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 100%;
}

.img-lg {
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 100%;
}

.name {
    font-size: 16px;
    color: #FFF;
}

.status {
    font-size: 13px;
    color: #6A6C75;
}

.title {
    border-bottom: 2px solid #FFF;
}

.groupSelect :hover {
    cursor: pointer;
}

.text-box-left {
    background-color: #86bb71;
    color: #FFFFFF;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: auto;
    max-width: 70%;
    text-align: left;
    display: block;
    float: left;
    font-size: 14px;
}

.text-box-right {
    background-color: #94c2ed;
    color: #FFFFFF;
    margin: 0px 5px 10px 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: inherit;
    max-width: 70%;
    text-align: left;
    display: block;
    float: right;
    font-size: 14px;
}

textarea {
    resize: none;
    border: none;
}

.doctor :hover {
    cursor: pointer;
}

#dropdown {
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding-bottom: 18%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}