<div class="container">
    <div class="row selected-user" *ngIf="selectedUser;">
        <div class="col col-8">
            {{selectedUser.name}}
            <img class="img-lg" [src]="selectedUser.picUrl" alt="Display picture" />
        </div>
        <div class="col col-2">
            <div class="dropdown">
                <div id="dropdown" #dropdown>
                    <button class="btn btn-secondary dropdown-toggle" style="margin-top:10px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Create group
                            </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" (click)="createGroupAuto();">Auto</button>
                        <button class="dropdown-item" (click)="open(doctorModal);">Manual</button>
                        <!--button class="dropdown-item" (click)="visibleComponent(template);">Manual</button-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-2">
            <a class="logout-button" routerLink="/login">Logout</a>
        </div>
    </div>
</div>
<!--modal window-->

<ng-template #doctorModal let-c="close" let-d="dismiss" size="lg" class="modal-lg">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" *ngFor="let doctor of doctors">
                <div class="col-md-1">
                    <div [ngSwitch]="doctor.status">
                        <div *ngSwitchCase="'online'" class="switch">
                            <div class="led-box led-green"></div>
                        </div>
                        <div *ngSwitchCase="'offline'">
                            <div class="led-box led-red"></div>
                        </div>
                        <div *ngSwitchCase="'busy'">
                            <div class="led-box led-blue"></div>
                        </div>
                        <div *ngSwitchCase="'away'">
                            <div class="led-box led-yellow"></div>
                        </div>
                        <div *ngSwitchDefault>
                            <div class="led-box led-red"></div>
                        </div>
                    </div>

                    <img class="rounded-circle" src="{{doctor.picUrl}}" data-toggle="tooltip" title="{{doctor.status}}" style="height: 100px; width: 100px;" alt="Not found" class="switch" />
                </div>
                <div class="col-md-1 ml-auto"></div>
                <div class="col-md-4 ml-auto">
                    <h3 class="card-title">{{doctor.name}}</h3>
                    <p class="card-text">Doctor is {{doctor.experience}} years experienced in {{doctor.speciality}}. <br/> {{doctor.description}}
                    </p>
                    <!--ngb-rating [(rate)]="doctor.rating"></ngb-rating-->
                    <rating [(ngModel)]="doctor.rating" [readonly]="true"> </rating>
                </div>
                <div class="col-md-1 ml-auto"></div>
                <div class="col-md-4 ml-auto align-self-end">

                    <button type="button" class="btn btn-primary">Consult now</button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="'#' + doctor.id" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>

                    <div class="collapse" id="{{doctor.id}}">
                        <div class="card card-body">
                            {{doctor.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancle</button>
    </div>


</ng-template>

<!--pre>{{closeResult}}</pre-->
<!--mm-chat-modal></mm-chat-modal-->
<div class="container">
    <div class="row">
        <div class="col col-3 list">
            <div class="row">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="row groupSelect" *ngFor="let group of groups" (click)="getMessage(group)">
                <div class="col col-3">
                    <img class="img-sm" src="{{group.picture}}" alt="Display picture" />
                </div>
                <div class="col" style="margin:10px;">
                    <div class="row name">
                        <span>{{group.name}}</span>
                    </div>
                    <div class="row status">
                        {{group.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-9 chatBox">
            <div class="row title" *ngIf="selectedGroup else loadThis">
                <div class="col col-2">
                    <img class="img-lg" src="{{selectedGroup.picture}}" alt="Display picture" />
                </div>
                <div class="col col-10">
                    <div class="row">{{selectedGroup.name}}</div>
                    <div class="row">Created by: {{selectedGroup.createdBy}}</div>
                </div>
            </div>
            <ng-template #loadThis>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </ng-template>
            <div class="row messageBox" id="messageBox" #messageBox (scroll)="onScroll()">
                <div class="container" *ngFor="let message of messages">
                    <div *ngIf="message.senderId == selectedUser.id; else alignLeft">
                        <div class="row text-box-right">
                            <div [ngSwitch]="message.contentType">
                                <div *ngSwitchCase="'text'">
                                    <div class="row text-message">
                                        <div class="col col-2">
                                            {{message.createdBy}}
                                            <img class="img-sm" src="{{message.picUrl}}" alt="Display picture" />
                                        </div>
                                        <div class="col">
                                            {{message.text}}
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'radio'">
                                    <mm-radio-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-radio-message>
                                </div>
                                <div *ngSwitchCase="'slider'">
                                    <mm-slider-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-slider-message>
                                </div>
                                <div *ngSwitchCase="'checkbox'">
                                    <mm-checkbox-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-checkbox-message>
                                </div>
                                <div *ngSwitchCase="'video'">
                                    <mm-video-message [message]="message"></mm-video-message>
                                </div>
                                <div *ngSwitchCase="'appear'">
                                    <mm-appear-message [message]="message" [safeUrl]="safeUrl"></mm-appear-message>
                                </div>
                                <div *ngSwitchCase="'image'">
                                    <mm-image-message [message]="message"></mm-image-message>
                                </div>
                                <div *ngSwitchDefault>
                                    <mm-text-message [message]="message"></mm-text-message>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #alignLeft>
                        <div class="row text-box-left">
                            <div [ngSwitch]="message.contentType">
                                <div *ngSwitchCase="'text'">
                                    <div class="row text-message">
                                        <div class="col col-2">
                                            {{message.createdBy}}
                                            <img class="img-sm" src="{{message.picUrl}}" alt="Display picture" />
                                        </div>
                                        <div class="col">
                                            {{message.text}}
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="'radio'">
                                    <mm-radio-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-radio-message>
                                </div>
                                <div *ngSwitchCase="'slider'">
                                    <mm-slider-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-slider-message>
                                </div>
                                <div *ngSwitchCase="'checkbox'">
                                    <mm-checkbox-message [message]="message" (onNewEntryAdded)="addNewEntry($event)"></mm-checkbox-message>
                                </div>
                                <div *ngSwitchCase="'video'">
                                    <mm-video-message [message]="message"></mm-video-message>
                                </div>
                                <div *ngSwitchCase="'appear'">
                                    <mm-appear-message [message]="message" [safeUrl]="safeUrl"></mm-appear-message>
                                </div>
                                <div *ngSwitchCase="'image'">
                                    <mm-image-message [message]="message"></mm-image-message>
                                </div>
                                <div *ngSwitchDefault>
                                    <mm-text-message [message]="message"></mm-text-message>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="row">
                <form novalidate [formGroup]="message" (keydown.enter)="sendMessage(message)" (ngSubmit)="sendMessage(message)">
                    <div class="form-group">
                        <div class="input-group">
                            <textarea class="form-control" formControlName="text" rows="3" cols="2" placeholder="Type your message..."></textarea>
                            <div class="input-group-btn dropup">
                                <button style="border:none; border-radius:0px;" type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <table class="table table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createRadio();" data-toggle="tooltip" data-placement="bottom" title="Radio">
                                                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createSlider();" data-toggle="tooltip" data-placement="bottom" title="Slider">
                                                    <i class="fa fa-sliders" aria-hidden="true"></i>
                                                </button>
                                                </td>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createCheckbox();" data-toggle="tooltip" data-placement="bottom" title="Checkbox">
                                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createAppear();" data-toggle="tooltip" data-placement="bottom" title="Start video call">
                                                <i class="fa fa-video-camera" aria-hidden="true"></i>    
                                                </button>
                                                </td>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createImage();" data-toggle="tooltip" data-placement="bottom" title="Upload image">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" (click)="createVideo();" data-toggle="tooltip" data-placement="bottom" title="Upload video">
                                                        <i class="fa fa-file-video-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Camera">
                                                        <i class="fa fa-camera" aria-hidden="true"></i>    
                                                    </button>
                                                </td>
                                                <td>
                                                    <div class="btn btn-primary btn-file">
                                                        <i class="fa fa-file-o" aria-hidden="true">
                                                            <input type="file" accept="application/pdf, application/vnd.ms-excel" (change)="createFile($event.target.files)" multiple /> 
                                                        </i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button id="attachmentButton" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="External link">
                                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="input-group-btn dropup">
                                <button type="submit" class="btn btn-primary" [disabled]="message.invalid">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--mm-doctors-list></mm-doctors-list-->