@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    margin: 0 auto;
    border-radius: 5px;
}

#sidebar {
    color: #F2F5F8 !important;
    float: right !important;
}

.people-list {
    width: 260px;
    float: left;
}

.search {
    padding: 20px;
}

.search input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.search .fa-search {
    position: relative;
    left: -25px;
    color: white;
}

.people-list img {
    float: left;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
}

.people-list .about {
    float: left;
    margin-top: 8px;
    color: white;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.chat {
    width: 100%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    height: 82%;
}


/*laptop or desktop devices*/

@media screen and (min-width: 993px) {
    .chat {
        height: 82vh !important;
    }
}


/*laptop or desktop devices*/

@media screen and (min-width: 360px) and (max-width: 992px) {
    .chat {
        height: 77vh !important;
    }
    .chat .chat-history {
        height: 48vh !important;
    }
}

@media screen and (width: 1920px) {
    .chat {
        height: 77vh !important;
    }
    .chat .chat-history {
        height: 55vh !important;
    }
}

@media screen and (width: 1600px) {
    .chat {
        height: 77vh !important;
    }
    .chat .chat-history {
        height: 52vh !important;
    }
}


/* iPad pro (1024 x 1366)*/

@media screen and (width: 1024px) {
    .chat {
        height: 82vh !important;
    }
    .chat .chat-history {
        height: 67vh !important;
    }
}


/*iPad (768 x 1024)*/

@media screen and (width: 768px) {
    .chat {
        height: 82vh !important;
    }
    .chat .chat-history {
        height: 62vh !important;
    }
}


/*iPhone 6/7/8 plus (414 x 736)*/

@media screen and (width: 414px) {
    .chat {
        height: 77vh !important;
    }
    .chat .chat-history {
        height: 51vh !important;
    }
}


/*iPhone 6/7/8 (375 x 667)*/

@media screen and (width: 375px) {
    .chat {
        height: 76vh !important;
    }
    .chat .chat-history {
        height: 47vh !important;
    }
}

.chat .chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: auto;
    height: 350px;
}

.chat-history::-webkit-scrollbar {
    width: 0.4em;
}

.chat-history::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat-history::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat .chat-history .message-data {
    margin-bottom: 10px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
    font-size: 0.7em;
}

.chat .chat-history .message-data-name {
    font-size: 0.8em;
}

.chat .chat-history .message {
    color: white;
    padding: 8px 10px;
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 70%;
    position: relative;
}

.chat .chat-history .message:after {
    position: absolute;
    content: "";
    top: -7px;
    left: 2%;
    border-style: solid;
    border-width: 0px 12px 12px;
    border-color: #86BB71 transparent;
    display: block;
    width: 0;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .other-message {
    background: #94C2ED;
}

.chat .chat-history .other-message:after {
    position: absolute;
    content: "";
    top: -7px;
    left: 87%;
    border-style: solid;
    border-width: 0px 12px 12px;
    border-color: #94C2ED transparent;
    display: block;
    width: 0;
}

.chat .chat-message {
    padding: 15px;
}

.chat .chat-message textarea {
    width: 100%;
    height: 60px;
    border: none;
    padding: 5px 10px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 5px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o,
.chat .chat-message .fa-paperclip {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fa-dot-circle-o,
.fa-sliders,
.fa-check-square-o,
.fa-video-camera,
.fa-picture-o,
.fa-file-video-o,
.fa-file-o {
    font-size: 25px;
    color: gray;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.file-upload {
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 1s;
}

.file-upload input[type='file'] {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 130px;
    width: auto !important;
    padding: 0px;
    margin: 0px;
    border: none;
    box-shadow: 2px 4px 10px grey;
}


/*.dropdown {
    display: none;
}*/

.btn-file {
    position: relative;
    overflow: hidden;
    padding-bottom: 18%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


/*offline state*/

.led-red {
    margin-left: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}


/*away state*/

.led-yellow {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}


/*available state*/

.led-green {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}


/*busy state*/

.led-blue {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.modal-xxl .modal-lg {
    max-width: 90%;
}

.class {
    display: inline-block;
}

#butt {
    display: inline-block;
}

.modal-header {
    display: block!important;
}

.modal-title {
    float: left;
}

.modal-header .close {
    float: right;
}

#videoImage {
    border: none;
}


/* delete icon for each message*/

.delete:hover {
    cursor: pointer;
}

.muted {
    font-size: 12px;
    font: #9C9C9C;
}

.dropdown-menu {
    background-color: #FFF;
}

.dropdown-item {
    padding: .25rem 1.5rem;
    color: #111 !important;
}

.dropdown-item:hover {
    cursor: pointer;
    background-color: #6960FF;
    color: #FFF !important;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

@media (max-width: 992px) {
    .dropdown-menu-right {
        left: 0 !important;
        margin-left: 15px;
    }
}

.media-header {
    background: #F2F5F8;
}

.close:hover {
    cursor: pointer;
}

#download:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    background-color: #333C44;
    color: #9E9E9E;
    height: 5%;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    bottom: 0;
}