@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #F7F7F7;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 0px 0;
    color: #666;
}

a {
    cursor: pointer;
}

.w3-sidebar .fa-times-circle-o {
    color: #666;
    float: right;
    font-size: 23px;
    font-weight: 400;
}

.people-list {
    width: 260px;
    float: left;
}

.search {
    padding: 20px;
    width: 105%;
}

.search input {
    border-radius: 25px;
    border: none;
    padding: 14px;
    color: #666;
    background: #F7F7F7;
    width: 95%;
    font-size: 14px;
    box-shadow: inset 0 0 10px rgba(51, 60, 68, 0.5);
    -moz-box-shadow: inset 0 0 10px rgba(51, 60, 68, 0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(51, 60, 68, 0.5);
}

.search .fa-search {
    position: relative;
    left: 80%;
    color: #666;
    top: -33px;
}

.search-right {
    padding: 10px;
    width: 105%;
}

.search-right input {
    border-radius: 25px;
    border: none;
    padding: 14px;
    color: #666;
    background: #F7F7F7;
    width: 95%;
    font-size: 14px;
    box-shadow: inset 0 0 10px rgba(51, 60, 68, 0.5);
    -moz-box-shadow: inset 0 0 10px rgba(51, 60, 68, 0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(51, 60, 68, 0.5);
}

.search-right .fa-search {
    position: relative;
    left: 85%;
    color: #666;
    top: -33px;
}

.w3-sidebar-right .fa-times-circle-o {
    color: #666;
    font-size: 23px;
    font-weight: 400;
    float: right;
}

.people-list:hover {
    background-color: #EEE;
}

.people-list img {
    float: left;
    height: 60px;
    width: 60px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 50%;
    transition: 0.5s;
    padding: 3px;
}

.people-list .about {
    float: left;
    margin-top: 8px;
    color: #666;
    padding-left: 8px;
    margin-left: 12px;
}

.status,
.name {
    color: #666;
}

.chat {
    width: 100%;
    float: left;
    background: #F7F7F7;
    border: none;
    color: #434651;
    height: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

.w3-sidebar-right {
    height: 87% !important;
    width: 22%;
    right: 0;
    background-color: #F7F7F7;
    position: absolute !important;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
    display: none;
}

.chat .chat-header {
    padding: 10px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    padding: 3px;
    border-radius: 50%;
    transition: 0.5s;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: auto;
    overflow-x: hidden;
    height: 44vh;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .chat .chat-history {
        height: 47vh;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .chat .chat-history {
        height: 63vh;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .chat .chat-history {
        height: 53vh;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1199.98px) {
    .chat .chat-history {
        height: 53vh;
    }
}

@media (min-width: 1500px) {
    .chat .chat-history {
        height: 66vh;
    }
}

.chat-history::-webkit-scrollbar,
.w3-sidebar::-webkit-scrollbar,
.w3-sidebar-right::-webkit-scrollbar {
    width: 0.4em;
}

.chat-history::-webkit-scrollbar-track,
.w3-sidebar::-webkit-scrollbar,
.w3-sidebar-right::-webkit-scrollbar {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat-history::-webkit-scrollbar-thumb,
.w3-sidebar::-webkit-scrollbar-thumb,
.w3-sidebar-right::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat .chat-history .message-data {
    margin-bottom: 10px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
    font-size: 0.7em;
}

.chat .chat-history .message-data-name {
    font-size: 0.8em;
}

.chat .chat-history .message {
    color: #333C44;
    padding: 8px 10px;
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 7px;
    margin-bottom: 10px;
    width: auto;
    max-width: 70%;
    position: relative;
    word-wrap: break-word;
}

.chat .chat-history .message:after {
    position: absolute;
    content: "";
    top: -7px;
    left: 2%;
    border-style: solid;
    border-width: 0px 12px 12px;
    border-color: #EDE7F6 transparent;
    display: block;
    width: 0;
}

.chat .chat-history .my-message {
    float: left;
    background: #EDE7F6;
}

.chat .chat-history .other-message {
    color: #F7F7F7;
    background: #6C63FF;
}

.chat .chat-history .other-message:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 5px;
    top: -17px;
    bottom: auto;
    border: 10px solid;
    border-color: #6C63FF transparent transparent transparent;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.chat .chat-footer {
    padding: 15px;
    height: 65px;
}

textarea {
    border: 1px solid #eee;
    width: 100%;
    height: 60px;
    color: #666;
    transition: 0.7s;
    background-color: #F7F7F7;
    border-radius: 30px;
    padding: 10pt 20pt;
    margin-top: 20px !important;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    resize: none;
    overflow: hidden !important;
}

textarea:focus {
    border-color: rgba(108, 99, 255, 0.5);
    background-color: #fff;
    outline: 0;
}

.chat .fa-paperclip {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat button {
    padding: 4pt 16pt;
    line-height: 1.5;
    font-weight: 400;
    transition: 0.7s;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 1.3em;
    transition: 0.7s;
    text-align: center;
    text-decoration: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    float: right;
    text-transform: uppercase;
    background-color: #06d19c;
    border: none;
    color: #fff;
    margin-right: 2%;
}

.chat button:hover {
    background-color: #05bd8d;
    color: #fff;
}

.online,
.other,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #06D19C;
}

.offline {
    color: #FF5637;
}

.me {
    color: #6C63FF;
}

.other {
    color: #EDE7F6;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.fa-dot-circle-o,
.fa-sliders,
.fa-thermometer-three-quarters,
.fa-check-square-o,
.fa-video-camera,
.fa-picture-o,
.fa-file-video-o,
.fa-file-image-o,
.fa-file-o {
    font-size: 1.5rem;
    color: gray;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.file-upload {
    height: 40px;
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 1s;
}

.file-upload input[type='file'] {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.file-upload input[type='file']:hover {
    cursor: pointer;
}

.dropdown-menu.show {
    border: none;
    padding: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 575.98px) {
    .dropdown-menu.show.options-menu {
        left: -160px !important;
        top: 20px !important;
        transform: translate3d(0px,0px,0px) !important;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding-bottom: 18%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


/*offline state*/

.led-red {
    margin-left: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}


/*away state*/

.led-yellow {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}


/*available state*/

.led-green {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}


/*busy state*/

.led-blue {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.modal-xxl .modal-lg {
    max-width: 90%;
}

.modal-header {
    display: block!important;
}

.modal-title {
    float: left;
}

.modal-header .close {
    float: right;
}

#videoImage {
    border: none;
}


/* delete icon for each message*/

.delete-message {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 4px;
}

.muted {
    font-size: 12px;
    font: #9C9C9C;
}

.message:hover .delete-message {
    visibility: visible;
    cursor: pointer;
}

.dropdown-menu.options-dropdowm.show {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0px;
    min-width: 6rem;
    font-size: 10px;
}

.media-header {
    background: #F2F5F8;
}

.close:hover {
    cursor: pointer;
}

#download:hover {
    cursor: pointer;
}

footer {
    position: absolute;
    background-color: #333C44;
    color: #9E9E9E;
    height: 5%;
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    bottom: 0;
}

.media-list {
    background-color: #F2F5F8;
    overflow: auto;
    max-height: 100px;
}

#unreadmessage {
    color: white;
    position: relative;
    top: 4px;
    border-radius: 16px;
    background-color: #004eff;
    font-size: 12px;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin-left: 4px;
    padding: 0 9px;
}