
header {
    color: #d0e4f8;
    padding: 4.5em 0 2.5em 0;
    text-align: center;
    background-image: url("../../assets/png/home-image.png");
    background-position: 14%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;   
    min-height: 35em;
}
#myHeader{
    display: flex;
    align-items: center;
}
.jumbotron {
    background-color: transparent;
    color: #d0e4f8;
    padding: 4.5em 0 2.5em 0;
    text-align: center;
    font-weight: 900;
    justify-content: center;
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    opacity: 10;
}
h1{
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}
h4{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
}
.form-control{
    border-radius: 0;
}
.location,
.speciality,
.consult-now{
    height: 53px;
}
.location{
    width: 231px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    padding-left: 30px;
}
.speciality{
    width: 363px;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.form-group{
    position: relative;
}
.form-group i {
    position: absolute;
    left: 14px;
    top: 21px;
    color: rgb(157, 163, 165);
}
form select{
    font-size: 14px;
    color: rgb(68, 68, 68);      
    -moz-appearance: initial;
    -webkit-appearance: initial;
}
.consult-now{
    background-color: rgb(31, 214, 166);
    width: 160px;
    padding: 0 15px;
    border: none;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;      
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
@media (min-width: 1200px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
}
@media (max-width: 991px) and (min-width:768px) {
    .location{
        width: 200px;
    }
    .speciality{
        width: 300px;
    }
    .consult-now{
        width: 140px;
    }
}
@media (max-width: 767px) and (min-width:576px){

    .location{
        width: 175px;
    }
    .speciality{
        width: 230px;
    }
    .consult-now{
        width: 128px;
    }
}

@media (max-width: 575px) and (min-width: 320px){
    .location{
        height: 45px;
        width: 150px;
        /* padding-left: 20px */
    }
    .row{
        justify-content: center;
    }
    .form-group i{
        left: 14px;
        top: 16px;
    }
    .speciality{
        width: 150px;
        height: 45px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .consult-now{
        /* padding: 0 10px; */
        width: 300px;
        height: 45px;
        border-radius: 10px;
    }
}

@media (max-width: 320px){
}