<app-navbar></app-navbar>
<app-notification [selectedUser]="selectedUser"></app-notification>
<a href="#myHeader" pageScroll [pageScrollDuration]="800">
  <button id="myBtn" title="Go to top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
</a>
<header id="myHeader">
  <div class="container">
    <div class="jumbotron">
      <h1>You focus on healing, we do the running!</h1>
      <h4>Over 5,000 doctors to choose from, india-wide</h4>
      <form #f="ngForm">
        <div class="row">
          <div class="form-group">
            <i class="fa fa-lg fa-map-marker" aria-hidden="true"></i>
            <select class="form-control location" required [(ngModel)]="currentLocation" name="location">
              <option *ngFor="let location of locations" [value]="location.name">
                {{ location.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control speciality" required id="selectSpeciality" [(ngModel)]="currentSpeciality" name="speciality">
              <option *ngFor="let speciality of specialities" [value]="speciality.name">
                {{ speciality.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <button i18n class="button consult-now" type="submit" (click)="showDoctorsList(f.value);"> CONSULT NOW </button>
          </div>
        </div>
        <!-- <a href="#contents" pageScroll [pageScrollDuration]="500" id="learnMore">
                        <button i18n class="button hero__button">Learn more</button>
                    </a> -->
      </form>
    </div>
  </div>
</header>
<app-contents id="contents"></app-contents>
<app-footer></app-footer>
