  <div class="footer container-fluid">
    <div class="container clearfix">
    <!-- <section>
      <h2>Mesomeds</h2>
      <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum had been the dummy text</p>
    </section> -->
    <div class="footer-data">
    <section>
      <div>Mesomeds</div>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <!-- <li><a href="#">Careers</a></li> -->
        <!-- <li><a href="#">Press</a></li> -->
        <li><a href="#">Contact Us</a></li>
      </ul>
    </section>
    <section>
        <div>For Patients</div>
        <ul>
          <li><a href="#">Ask free health questions</a></li>
          <li><a href="#">Search for doctors</a></li>
          <!-- <li><a href="#">Search for clinics</a></li> -->
          <li><a href="#">Consult a doctor</a></li>
          <!-- <li><a href="#">Read about medicines</a></li> -->
        </ul>
    </section>
    <section>
        <div>More</div>
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conidition</a></li>
          <!-- <li><a href="#">Healthcare Directory</a></li> -->
          <!-- <li><a href="#">Health Wiki</a></li> -->
        </ul>
    </section>
  </div>
  <div class="footer-icons">
  <p class="copyrights">Copyright © 2018, Mesomeds. All rights reserved.</p>
  <div class="icons"> 
      <i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i>
      <i class="fa fa-lg fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-lg fa-envelope" aria-hidden="true"></i>
  </div>
</div>
  </div>
  </div>
