footer {
    background-color: #F5F5F5;
    color: #9E9E9E;
    height: 25%;
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
    margin: 20px;
    color: #9E9E9E;
}

a:hover {
    color: #0D47A1;
}

#lang {
    float: left;
    margin-left: 25px;
    margin-bottom: 15px;
    color: #2196F3;
    background-color: #F5F5F5;
    text-decoration: none;
}

#lang:hover {
    text-decoration: none;
    cursor: pointer;
}

.fa-facebook-official:hover {
    color: #0D47A1;
}

.fa-twitter-square:hover {
    color: #03A9F4;
}

.fa-github-square:hover {
    color: #212121;
}