<footer>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <a href="https://www.facebook.com/mesomeds/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/AWNICS" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="row justify-content-center">
            <div class="col">Awnics Technologies Pvt. Ltd. &copy; 2017</div>
            <div class="w-100"></div>
            <div class="col">
                <a [routerLink]="['/terms']" target="_blank" i18n>Terms and Conditions</a><br/>
            </div>
        </div>
        <a id="lang" (click)="selectLanguage('es')" *ngIf="lang !== 'es'"><img src="assets/gif/es-1936.gif" style="height: 15px; width: 20px;" alt="Español" /> Spanish(ES)</a>
        <a id="lang" (click)="selectLanguage('en-US')" *ngIf="lang !== 'en-US'"><img src="assets/jpg/india.jpg" style="height: 15px; width: 20px;" alt="India" /> English(IN)</a>
    </div>
</footer>