<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <a href="/" class="footer__textLogo">Awnics Technology Pvt. Ltd.</a>
            <div class="footer__data">
                <div class="footer__data__item">
                    <div class="footer__row">
                        <a href="https://github.com/AWNICS" target="_blank" class="footer__link">GitHub</a>
                    </div>
                    <div class="footer__row">
                        <a href="https://twitter.com" target="_blank" class="footer__link">Twitter</a>
                    </div>
                    <div class="footer__row">
                        <a href="https://www.facebook.com/mesomeds/" target="_blank" class="footer__link">Facebook</a>
                    </div>
                    <div class="footer__row">
                        <a href="#" class="footer__link">MIT license</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>