<footer>
    <a href="https://www.facebook.com/mesomeds/" target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
    <a href="https://github.com" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
    <br> &copy; 2017 Awnics Technologies Pvt. Ltd. All rights reserved <br>
    <a href="#myHeader"><i class="fa fa-arrow-circle-up fa-2x" id="glyph" aria-hidden="true"></i></a>
    <a [routerLink]="['/terms']" target="_blank">Terms and Conditions</a>
</footer>